<a href="https://colab.research.google.com/github/Thitichaya2000/data_viz_2022/blob/main/%E0%B8%97%E0%B8%94%E0%B8%AA%E0%B8%AD%E0%B8%9A%E0%B8%97%E0%B8%B3%20Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# โจทย์

Final Exam: งานกลุ่ม Final ที่อาจารย์สุ่มให้


ให้นักศึกษาสร้าง Dashboard แสดงรายงานเกี่ยวกับข้อมูลการตรวจโรค(ov) จาก ไฟล์ alldb.csv และ hospital_list.xlsx


( ดาวน์โหลดจาก https://drive.google.com/drive/folders/1D_Z0fjTki6U6ECbgh2V3wBOSdOXS81YT?fbclid=IwAR3KK7jaRTK1DI3hfBq--qsME4ScgtNdrEbo2yvE2rn08tOTfmXED5kAEB8)


โดยข้อมูลหลักจะอยู่ใน ตาราง alldb.csv (ข้อมูลที่สมบูรณ์ที่สามารถนำมาใช้งานได้ต้องมีค่าใน column ต่อไปนี้ดังนี้


* user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* RowKey เป็น String
* date เป็น YYYY-MM-DD
* phone เป็น String
* site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* time เป็น hh-mm-ss
* urine มีค่า String
* ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)
* PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น))


ไฟล์ alldb.csv และ hospital_list.xlsx สามารถถูกเชื่อมโยงกันโดย site ในไฟล์ alldb.csv คือ hcode ในไฟล์ hospital_list.xlsx


โดยข้อมูลสำคัญที่ต้องแสดงคือ


* จำนวนการตรวจในแต่ละพื้นที่ (จังหวัด-อำเภอ ในไฟล์ hospital_list.xlsx) เทียบกับ จำนวนที่พบโรค (column ov ในไฟล์ alldb.csv)
* ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)
* อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ))


(คิดคะแนนตามกลุ่ม final โดยไฟล์ที่ทุกคนในกลุ่มต้องมีคือไฟล์ data pre-processing และ link ไปที่ Dashboard ที่สร้่างโดยเปิดให้สามารถเข้าไปดูและใช้งานได้)


ส่งไม่เกิน 23.59 วันจันทร์ที่ 11 เมษายน 2565

# รายชื่อสมาชิกภายในกลุ่ม triturate

1. นางสาววัชราภรณ์ บุญจวง 613020615-8

2. นางสาวฐิติชญา ไกรวงค์ 623020520-0

3. นางสาวสุพิชญา ตั้งกิจวานิชย์ 623020542-0

4. นายดิษพงษ์ นาทองห่อ 623020999-5

# การเชื่อมไดร์ฟเพื่อดึงข้อมูลจากไดรฟ์

In [ ]:
import pandas as pd #เพื่อใช้ทำงานกับข้อมูลที่เป็นรูปแบบตาราง
import os           #เพื่อจัดการกับไฟล์ และ ตัว path ที่เราจะนำเข้า

In [ ]:
from google.colab import drive#เชื่อมข้อมูล เพราะเราจะทำการนำเข้าข้อมูล โดยให้ดึงมาจาก google drive ของเรา
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path = '/content/drive/My Drive/ovrdt_data'
#โดยเราจะทำการระบุให้ชี้ไปที่ โฟลเดอร์ที่เราเซฟไฟล์ไว้ หรือก็คือ โฟลเดอร์ Project

In [ ]:
# เชื่อม library
from datetime import datetime as dt # ใช้สำหรับเกี่ยวกับวัน
from datetime import time # ใช้สำหรับเกี่ยวกับวัน
import matplotlib.pyplot as plt # ใช้สำหรับเกี่ยวกับการวาดกราฟ
import numpy as np # ใช้สำหรับเกี่ยวกับตัวเลข
import datetime as dt # ใช้สำหรับเกี่ยวกับวัน

## ข้อมูลหลัก ตาราง alldb

In [ ]:
alldb = os.path.join(path,'alldb.xlsx')
alldb = pd.read_excel(alldb)
alldb

ValueError: ignored

## ข้อมูลรอง ตาราง hospital_list.xlsx

In [ ]:
hospital_list = os.path.join(path,'hospital_list.xlsx')
hospital_list = pd.read_excel(hospital_list)
hospital_list

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

# Data Pre-Processing

## จัดการข้อมูลหลัก ตาราง alldb.csv

### เลือกข้อมูลจากตารางหลัก แค่คอลัมน์ที่ต้องการใช้งาน

In [ ]:
alldb_new = alldb[['user','RowKey','date','phone','site','time','urine','ov','PartitionKey']] 
alldb_new

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),0,NaN
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN
...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,"iPhone13,4",01234,NaN,NaN,NaN,เกษศิรินทร์ ไชยลาภ
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),2,เถลิงเกียรติ เสริฐเลิศ
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี
40033,NaN,bbuogxulur.png,NaN,Samsung SM-A115F,01234,NaN,NaN,NaN,เสรี
40034,NaN,zttpqogiso.png,NaN,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี

### ตรวจสอบค่า Missing

In [ ]:
alldb_new.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

user            True
RowKey          True
date            True
phone           True
site            True
time            True
urine           True
ov              True
PartitionKey    True
dtype: bool

### ใช้ .dropna ซึ่งจะใช้ตัดแถวข้อมูลที่มีค่า missing

In [ ]:
alldb_drop = alldb_new.dropna() #ใช้ dropna เพื่อต้องการลบข้อมูลทั้งแถวออกเมื่อมีคอลัมน์ใดคอลัมน์หนึ่งเป็น NaN
alldb_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0,0-1528
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0,0-1544
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,Samsung SM-G998B,test,14:23:45,ขุ่น,2,x001
40014,ttest,gzxgflnowr.png,2022-02-21,Samsung SM-G998B,test,14:23:43,ขุ่น,2,x001
40016,xxx,jytlopevha.png,2022-02-17,Samsung SM-N950F,xxx,00:01:06,ปกติ (เหลืองใส),3,xxx
40022,yyy,ivccsksowb.png,2022-02-17,Samsung SM-N950F,yyy,08:41:05,มีเม็ดเลือดแดง,2,yyy
40023,zzz,psudrnccsh.png,2022-02-17,Samsung SM-N950F,zzz,08:41:04,มีตะกอน,2,zzz

In [ ]:
alldb_drop.shape #ตรวจสอบขนาดของตารางใหม่

(38663, 9)

In [ ]:
removes = alldb_new.shape[0] - alldb_drop.shape[0]
print(f'size before drop = {alldb_new.shape[0]}')
print(f'size after drop = {alldb_drop.shape[0]}')
print(f'% from drop = {(removes/alldb_new.shape[0])*100}')
 # จากการคำนวณพบว่ามีข้อมูลที่หายไปเพียงแค่ 3% ดังนั้น จึงสามารถใช้การ .dropna() ได ้

size before drop = 40035
size after drop = 38663
% from drop = 3.427001373797927

In [ ]:
alldb_drop.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

user            False
RowKey          False
date            False
phone           False
site            False
time            False
urine           False
ov              False
PartitionKey    False
dtype: bool

### ทำการเปลี่ยน type ของข้อมูลให้เป็น type ที่ถูกต้อง

In [ ]:
alldb_drop.dtypes # เช็คว่าข้อมูลมี่ความตรงกับที่ต้องการหรือไม่

user            object
RowKey          object
date            object
phone           object
site            object
time            object
urine           object
ov              object
PartitionKey    object
dtype: object

พบว่ามีข้อมูลที่ไม่ตรงกับสิ่งที่ต้องการ

 * user ปัจจุบันยังเป็นข้อมูล type string ควรเปลี่ยนเป็น int
 * site ปัจจุบันยังเป็นข้อมูล type string ควรเปลี่ยนเป็น int
 * ov ปัจจุบันยังเป็นข้อมูล type string ควรเปลี่ยนเป็น int
 * PartitionKey ปัจจุบันยังเป็นข้อมูล type string ควรเปลี่ยนเป็น int

#### คอลัมน์ user

In [ ]:
set(alldb_drop['user']) # เพื่อดูข้อมูลทั้งหมดใน column user

{'17415',
 '00014',
 '16725',
 '03431',
 '27658',
 '04347',
 '24375',
 '94558',
 '00043',
 '93726',
 '52180',
 '19250',
 'tt',
 '31322',
 '60581',
 '59226',
 '11027',
 '28291',
 '16754',
 '48956',
 '14801',
 '3460500500020',
 '00205',
 '43228',
 '64817',
 '00027',
 'rrr',
 '61746',
 '14255',
 '00224',
 '13406',
 '89913',
 '48069',
 '53041',
 '95927',
 '97281',
 '97057',
 '03359',
 '54932',
 '55365',
 '00399',
 '09343',
 '13361',
 '28992',
 '43834',
 '68805',
 '27604',
 '17055',
 '89290',
 '70281',
 '00016',
 '50466',
 '08236',
 '1450700099250',
 '84374',
 '87315',
 '03217',
 '10695',
 '00288',
 '37645',
 '00328',
 '16675',
 '3',
 '75921',
 '20215',
 '74523',
 '60953',
 '23231',
 '95291',
 '65664',
 '45729',
 '31582',
 '16022',
 '04402',
 '79590',
 '05116',
 '81095',
 '22421',
 '02825',
 '3450100836420',
 '47615',
 '3450100810285',
 '87738',
 '29051',
 '85879',
 '86774',
 '75838',
 '00318',
 '21751',
 '00283',
 '38518',
 '34096',
 '50802',
 '73445',
 '20291',
 '06283',
 '78486',
 '18331',
 '00281',
 '03087',
 '77384',
 '00302',
 '87218',
 '02579',
 '00121',
 '19624',
 '00157',
 '71921',
 '46313',
 '27143',
 '53333',
 '37140',
 '41301',
 '00308',
 '06385',
 '33739',
 '84409',
 '19237',
 '32914',
 '30977',
 '03100',
 '00165',
 '54468',
 '36390',
 '00001',
 '60887',
 '00545',
 '37127',
 '18393',
 '39529',
 '59361',
 '00910',
 'ppp',
 '32873',
 '87374',
 '40533',
 '26462',
 '3451100150251',
 '00219',
 '63951',
 '54734',
 '18008',
 '01882',
 '05039',
 '00010',
 '49659',
 '81537',
 '5600190011969',
 '87733',
 '3450101323370',
 '70490',
 '6724-',
 '46627',
 '23596',
 '12015',
 '29309',
 '40551',
 '20380',
 '44812',
 '00237',
 '22478',
 '00215',
 '39593',
 '94019',
 '74861',
 '75579',
 '14106',
 '31133',
 '40035',
 '08734',
 '62517',
 '00145',
 '42380',
 '88315',
 '02396',
 '90154',
 '87697',
 '83303',
 '40881',
 '14491',
 '60847',
 '11522',
 '32387',
 '18769',
 '00129',
 '00748',
 'bbb',
 '31577',
 '70059',
 '52665',
 '5450100026807',
 '21432',
 '02897',
 '06223',
 '71503',
 '00212',
 '00292',
 '37216',
 '54599',
 '46291',
 '68856',
 '07556',
 '47858',
 '05019',
 '96417',
 '99376',
 '86133',
 '71112',
 '43431',
 '05391',
 '97255',
 '52922',
 '00182',
 '78251',
 'test',
 '00022',
 '00011',
 '63865',
 '00116',
 '45161',
 '77726',
 '20606',
 '49791',
 '24229',
 '00194',
 '63381',
 '89475',
 '56845',
 '00348',
 '69576',
 '70948',
 '00088',
 '02693',
 '64671',
 '10460',
 '64520',
 '67615',
 '88973',
 '89609',
 '36994',
 '03649',
 '3451100241281',
 '23885',
 '00188',
 '81065',
 '77576',
 '47429',
 '26199',
 '48908',
 '00755',
 '80317',
 '66437',
 '22804',
 '93991',
 '00178',
 '84493',
 'aaa',
 '52912',
 '74394',
 '76486',
 '28241',
 '96099',
 '90257',
 '17842',
 'mmm',
 '49782',
 '74891',
 '72169',
 '66780',
 '17974',
 '01009',
 '00036',
 '61587',
 '45668',
 '77862',
 '16820',
 '01850',
 '46520',
 '73496',
 '27589',
 '61320',
 '00135',
 '35178',
 '77978',
 '11159',
 '3450101325097',
 '44805',
 '08818',
 '84768',
 '96670',
 '05242',
 '47810',
 '00351',
 '47950',
 '00409',
 '03169',
 '89493',
 '30283',
 '50727',
 '96760',
 '85753',
 '11611',
 '65953',
 '08021',
 'hu',
 '55415',
 '30311',
 '00279',
 '11111111',
 'tttt',
 '64081',
 '46662',
 '00071',
 '19527',
 '11055',
 '62334',
 '37231',
 '43868',
 '25837',
 '62440',
 '46597',
 '11177',
 '71891',
 '51501',
 '55806',
 '62070',
 '00253',
 '3451100141252',
 '93307',
 '00277',
 '54679',
 '62415',
 '18527',
 '55075',
 '46481',
 '03953',
 '52210',
 '25659',
 '00127',
 '49268',
 '00173',
 '61325',
 '79834',
 '19211',
 '16604',
 '39959',
 '09820',
 '92545',
 '37186',
 '63753',
 '53089',
 '03663',
 '00029',
 '00018',
 '77645',
 '03831',
 '73225',
 '19903',
 '01730',
 '42682',
 '32622',
 '16848',
 '89195',
 '25221',
 '38778',
 '29611',
 '00204',
 '94279',
 '00198',
 '62443',
 '47061',
 '28961',
 '00267',
 '03308',
 '44509',
 '00049',
 '02471',
 '64810',
 '01408',
 'uuu',
 '28381',
 '62241',
 '48393',
 '94150',
 '45924',
 '62059',
 '11198',
 '49961',
 '72186',
 '00025',
 '14390',
 '39448',
 '61182',
 '02913',
 '02230',
 '58993',
 '65733',
 '80067',
 '58500',
 '68759',
 '17560',
 '61806',
 '00309',
 '52147',
 '50373',
 '05082',
 '14771',
 '39965',
 '00251',
 '00966',
 '05961',
 '  67241\n',
 '58870',
 '29441',
 '07203',
 '31811',
 '66191',
 '34317',
 '24468',
 '89681',
 '80374',
 '94601',
 '90817',
 '67212',
 '11282',
 '10120',
 '19002',
 '39103',
 '05507',
 '3450100805222',
 '59181',
 '64385',
 '74367',
 '57228',
 '00090',
 '99288',
 '16174',
 '3450101536268',
 '63098',
 '62061',
 '07166',
 '05211',
 '71805',
 '10673',
 '60688',
 '03338',
 '17966',
 '37151',
 '51310',
 '20847',
 'www',
 '21688',
 '41000',
 '47146',
 '94392',
 '16112',
 '82685',
 '41042',
 '69681',
 '35512',
 '61813',
 '75347',
 '83659',
 '02547',
 '27732',
 '93671',
 '17790',
 '05663',
 '4',
 '14387',
 '16372',
 '94538',
 '00196',
 '82954',
 '42098',
 '66062',
 '00582',
 '19800',
 '37408',
 '23738',
 '84540',
 '77665',
 '00195',
 '00303',
 '28010',
 '87536',
 '54781',
 '51205',
 '7140',
 '46622',
 '25593',
 '49308',
 '31994',
 '25683',
 '78494',
 '00045',
 '94881',
 '75910',
 '19202',
 '00197',
 '00217',
 '70810',
 '67400',
 '68768',
 '89837',
 '71813',
 '03421',
 '25199',
 '05304',
 '00074',
 '28731',
 '00274',
 '98171',
 '00069',
 '49634',
 '24404',
 '28399',
 '09902',
 '41026',
 '99884',
 '00343',
 '00624',
 '01861',
 '06079',
 '56044',
 '50047',
 't006',
 '70370',
 '01636',
 '73302',
 '47567',
 '48255',
 '32796',
 '58814',
 '86721',
 '27129',
 '11891',
 '03535',
 '45485',
 '03500',
 '96630',
 '74840',
 '02217',
 '01721',
 '29417',
 '77811',
 '70940',
 '02263',
 '3451100324713',
 '85989',
 '71791',
 '59266',
 '05974',
 '00304',
 '76096',
 '14667',
 '81057',
 '82054',
 '88708',
 '31755',
 '36692',
 '84459',
 'mks',
 '09188',
 '47933',
 '49367',
 '26442',
 '81570',
 '80253',
 '47623',
 '10105',
 '3451400598487',
 '50332',
 '63837',
 '18524',
 '39440',
 '63606',
 '37732',
 '08741',
 '29476',
 '33171',
 '49215',
 '75251',
 '53045',
 '50063',
 '26445',
 '26440',
 '51301',
 '93884',
 '51795',
 '71327',
 '34791',
 '67850',
 '38614',
 '08971',
 '58668',
 '00322',
 '69037',
 '77994',
 '86545',
 '46970',
 '30481',
 '11569',
 '10653',
 '00276',
 '32310',
 '00176',
 '34988',
 '55354',
 '00050',
 '63306',
 '09226',
 '00002',
 '19130',
 '44018',
 '81529',
 '00226',
 '33251',
 '20395',
 '70290',
 '76299',
 '11215',
 '00270',
 '06316',
 '85504',
 '17982',
 '13070',
 '3450101229373',
 '82822',
 '53510',
 '34705',
 '45846',
 '00208',
 '64211',
 '95193',
 '26916',
 '46732',
 '91125',
 '19911',
 '00144',
 '12041',
 '96771',
 '  noknoi2601@gmail.com\n',
 '08072',
 '62687',
 '31762',
 '59269',
 '67450',
 '00269',
 '89056',
 '62261',
 '42453',
 '50144',
 '76246',
 '34343',
 '38463',
 '94454',
 '84055',
 '89801',
 '02639',
 '97831',
 '34501009308',
 '83771',
 '91438',
 '65388',
 '42120',
 'ggg',
 '74432',
 '78133',
 '92073',
 '96730',
 '34169',
 'zzz',
 '76523',
 '29271',
 '87394',
 '59305',
 '00299',
 '14037',
 '01431',
 '94135',
 '15588',
 '80382',
 '50756',
 '38771',
 '00566',
 '80847',
 '00167',
 '44502',
 '25083',
 '55659',
 '81409',
 '92747',
 '14088',
 '82211',
 '3400900747146',
 '00156',
 '60147',
 '89576',
 '00290',
 '45876',
 '28062',
 '31062',
 '49387',
 '74345',
 '09315',
 '01024',
 '01248',
 '00160',
 '14835',
 '36358',
 '56764',
 '00286',
 '15930',
 '29025',
 'jjj',
 '73251',
 '04281',
 '00221',
 '33237',
 '93020',
 '16971',
 '88538',
 'vvv',
 '46960',
 '22688',
 '90571',
 '73946',
 '95151',
 '07331',
 '00260',
 '00076',
 '30767',
 '54538',
 '22455',
 '05368',
 '03736',
 '47157',
 '09259',
 '29118',
 '15229',
 '00005',
 '65321',
 '51474',
 '94494',
 '14360',
 '51241',
 '95609',
 '00083',
 '67972',
 '39524',
 '18873',
 '00183',
 '48493',
 '90612',
 '28551',
 '00170',
 '50349',
 '66386',
 '80463',
 'aiov0002',
 '53943',
 '10046',
 '42468',
 '20690',
 '69566',
 '30431',
 '10982',
 '86981',
 '29485',
 '46783',
 '00306',
 '98126',
 '58196',
 '73158',
 '50276',
 '37915',
 '36141',
 '30067',
 '10993',
 '75771',
 '00109',
 '19411',
 '52350',
 '3459900286317',
 '96349',
 '48514',
 '78673',
 '32591',
 '06790',
 '01403',
 '19559',
 'ttt',
 'fff',
 'test1',
 '83449',
 '93028',
 '30059',
 '61095',
 '79620',
 '00078',
 '00133',
 '00756',
 '66082',
 '28593',
 '31792',
 '02853',
 '52219',
 '11165',
 '00169',
 '74414',
 '13824',
 '95935',
 '00008',
 '23958',
 '18253',
 '23049',
 '04991',
 '50471',
 '50291',
 '15731',
 '29796',
 '98156',
 '16193',
 '73038',
 '73336',
 '04857',
 '3450500541443',
 '00163',
 '53920',
 '00013',
 '52209',
 '98703',
 '40520',
 '74375',
 '19855',
 '16630',
 '76803',
 '29000',
 '67379',
 '99835',
 '80289',
 '00295',
 '10905',
 '00284',
 '98474',
 '91645',
 '26477',
 '25781',
 '34711',
 '45701',
 '64503',
 '68037',
 '66205',
 '21177',
 '00209',
 '74747',
 '54788',
 '79920',
 '95810',
 '95301',
 '83937',
 '17536',
 'testtohn',
 '73419',
 '51235',
 '94414',
 '04387',
 '38422',
 '05091',
 '32816',
 '06681',
 '52902',
 '00263',
 '76105',
 '62962',
 '02604',
 '44201',
 '25943',
 '31196',
 '18890',
 '32949',
 '02962',
 '00113',
 '47656',
 '46566',
 '36593',
 '99734',
 '39638',
 '22099',
 '11361',
 '74103',
 '79817',
 '00324',
 '03562',
 '39079',
 '63852',
 '46333',
 '00031',
 '52520',
 '02091',
 '97965',
 '51060',
 '47938',
 '29379',
 '00203',
 '16144',
 '00271',
 '83900',
 '37607',
 '46948',
 '39537',
 '03080',
 '19265',
 '00206',
 '00207',
 '65254',
 '86474',
 '22692',
 '00053',
 '76011',
 '00143',
 '19808',
 '21955',
 '65555',
 '00139',
 '89394',
 '00171',
 '92893',
 'yyy',
 '98260',
 '87802',
 '21831',
 '45736',
 '68317',
 '00065',
 '16085',
 '00191',
 '00235',
 '00180',
 '12561',
 '69556',
 '13312',
 '19920',
 '38522',
 '55300',
 '00781',
 '03381',
 '73381',
 '19273',
 '48646',
 '01183',
 '74369',
 '67241',
 '50911',
 '12003',
 '02663',
 'qqq',
 '25829',
 '45641',
 '00132',
 '94295',
 '59128',
 '68006',
 '12413',
 '17916',
 '32666',
 '58845',
 '62459',
 '08242',
 '00352',
 '78257',
 '31011',
 '73876',
 '79066',
 '51403',
 '19699',
 '81293',
 '88135',
 '98519',
 '88023',
 '76386',
 '67961',
 '00153',
 '09582',
 '45914',
 '57954',
 '3450100940367',
 '17564',
 '31114',
 '00285',
 '27529',
 '05047',
 '25804',
 '65632',
 '92691',
 '60909',
 '66708',
 '00130',
 '11808',
 ...}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข 5 หลัก เท่ากับ ข้อมูลว่าง

In [ ]:
alldb_drop['user'].replace({'3450101325119':None,
'34501009308':None,
'71378\n71378':'71378',
'yyy':None,
'7197':None,
'rrr':None,
'745-61':'74561',
'uuu':None,
'3450100810285':None,
'jjj':None,
'11111111':None,
'3450100805222':None,
'zzz':None,
'3450101556129':None,
'3450101325593':None,
'4':None,
'6724100235':None,
'17536\n\n17536':'17536',
'3450101229373':None,
'Testtohn':None,
'  noknoi2601@gmail.com\n':None,
'3451100324624':None,
'40591\n40591\n':'40591',
'6724-':None,
'test':None,
'3450101536268':None,
'3450100543961':None,
'ppp':None,
'xxx':None,
'3451100451758':None,
'hhh':None,
'ttohn':None,
'fff':None,
'ggg':None,
'ccc':None,
'5600190011969':None,
'testtohn':None,
'3451400598487':None,
'3':None,
'3400900747146':None,
'5450100026807':None,
'iii':None,
'5799':None,
'aaa':None,
'3451100141252':None,
't006':None,
'5450500072920':None,
'bbb':None,
'hu':None,
'3450101323370':None,
'ttest':None,
'test1':None,
'tttt':None,
'eee':None,
'qqq':None,
'ttt':None,
'45-161':None,
'sss':None,
'tt':None,
'u789':None,
'3451100241281':None,
'3451100324713':None,
'3450101514299':None,
'3451100451251':None,
'1450700099250':None,
'3450100836420':None,
'3450500541443':None,
'www':None,
'5451100055352':None,
'3451100146637':None,
'3450100940367':None,
'mmm':None,
'3460500500020':None,
'vvv':None,
'lll':None,
'3450101325097':None,
'aiov0001':None,
'kkk':None,
'mks':None,
'aiov0002':None,
'3459900286317':None,
'3451100150251':None,
'3450101576642':None,
'  67241\n':'67241'
},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [ ]:
set(alldb_drop['user']) # เพื่อดูข้อมูลทั้งหมดใน column user

{'17415',
 '00014',
 '16725',
 '03431',
 '27658',
 '04347',
 '24375',
 '94558',
 '00043',
 '93726',
 '52180',
 '19250',
 '31322',
 '60581',
 '59226',
 '11027',
 '28291',
 '16754',
 '48956',
 '14801',
 '00205',
 '43228',
 '64817',
 '00027',
 '61746',
 '14255',
 '00224',
 '13406',
 '89913',
 '48069',
 '53041',
 '95927',
 '97281',
 '97057',
 '03359',
 '54932',
 '55365',
 '00399',
 '09343',
 '13361',
 '28992',
 '43834',
 '68805',
 '27604',
 '17055',
 '89290',
 '70281',
 '00016',
 '50466',
 '08236',
 '84374',
 '87315',
 '03217',
 '10695',
 '00288',
 '37645',
 '00328',
 '16675',
 '75921',
 '20215',
 '74523',
 '60953',
 '23231',
 '95291',
 '65664',
 '45729',
 '31582',
 '16022',
 '04402',
 '79590',
 '05116',
 '81095',
 '22421',
 '02825',
 '47615',
 '87738',
 '29051',
 '85879',
 '86774',
 '75838',
 '00318',
 '21751',
 '00283',
 '38518',
 '34096',
 '50802',
 '73445',
 '20291',
 '06283',
 '78486',
 '18331',
 '00281',
 '03087',
 '77384',
 '00302',
 '87218',
 '02579',
 '00121',
 '19624',
 '00157',
 '71921',
 '46313',
 '27143',
 '53333',
 '37140',
 '41301',
 '00308',
 '06385',
 '33739',
 '84409',
 '19237',
 '32914',
 '30977',
 '03100',
 '00165',
 '54468',
 '36390',
 '00001',
 '60887',
 '00545',
 '37127',
 '18393',
 '39529',
 '59361',
 '00910',
 '32873',
 '87374',
 '40533',
 '26462',
 '00219',
 '63951',
 '54734',
 '18008',
 '01882',
 '05039',
 '00010',
 '49659',
 '81537',
 '87733',
 '70490',
 '46627',
 '23596',
 '12015',
 '29309',
 '40551',
 '20380',
 '44812',
 '00237',
 '22478',
 '00215',
 '39593',
 '94019',
 '74861',
 '75579',
 '14106',
 '31133',
 '40035',
 '08734',
 '62517',
 '00145',
 '42380',
 '88315',
 '02396',
 '90154',
 '87697',
 '83303',
 '40881',
 '14491',
 '60847',
 '11522',
 '32387',
 '18769',
 '00129',
 '00748',
 '31577',
 '70059',
 '52665',
 '21432',
 '02897',
 '06223',
 '71503',
 '00212',
 '00292',
 '37216',
 '54599',
 '46291',
 '68856',
 '07556',
 '47858',
 '05019',
 '96417',
 '99376',
 '86133',
 '71112',
 '43431',
 '05391',
 '97255',
 '52922',
 '00182',
 '78251',
 '00022',
 '00011',
 '63865',
 '00116',
 '45161',
 '77726',
 '20606',
 '49791',
 '24229',
 '00194',
 '63381',
 '89475',
 '56845',
 '00348',
 '69576',
 '70948',
 '00088',
 '02693',
 '64671',
 '10460',
 '64520',
 '67615',
 '88973',
 '89609',
 '36994',
 '03649',
 '23885',
 '00188',
 '81065',
 '77576',
 '47429',
 '26199',
 '48908',
 '00755',
 '80317',
 '66437',
 '22804',
 '93991',
 '00178',
 '84493',
 '52912',
 '74394',
 '76486',
 '28241',
 '96099',
 '90257',
 '17842',
 '49782',
 '74891',
 '72169',
 '66780',
 '17974',
 '01009',
 '00036',
 '61587',
 '45668',
 '77862',
 '16820',
 '01850',
 '46520',
 '73496',
 '27589',
 '61320',
 '00135',
 '35178',
 '77978',
 '11159',
 '44805',
 '08818',
 '84768',
 '96670',
 '05242',
 '47810',
 '00351',
 '47950',
 '00409',
 '03169',
 '89493',
 '30283',
 '50727',
 '96760',
 '85753',
 '11611',
 '65953',
 '08021',
 '55415',
 '30311',
 '00279',
 '64081',
 '46662',
 '00071',
 '19527',
 '11055',
 '62334',
 '37231',
 '43868',
 '25837',
 '62440',
 '46597',
 '11177',
 '71891',
 '51501',
 '55806',
 '62070',
 '00253',
 '93307',
 '00277',
 '54679',
 '62415',
 '18527',
 '55075',
 '46481',
 '03953',
 '52210',
 '25659',
 '00127',
 '49268',
 '00173',
 '61325',
 '79834',
 '19211',
 '16604',
 '39959',
 '09820',
 '92545',
 '37186',
 '63753',
 '53089',
 '03663',
 '00029',
 '00018',
 '77645',
 '03831',
 '73225',
 '19903',
 '01730',
 '42682',
 '32622',
 '16848',
 '89195',
 '25221',
 '38778',
 '29611',
 '00204',
 '94279',
 '00198',
 '62443',
 '47061',
 '28961',
 '00267',
 '03308',
 '44509',
 '00049',
 '02471',
 '64810',
 '01408',
 '28381',
 '62241',
 '48393',
 '94150',
 '45924',
 '62059',
 '11198',
 '49961',
 '72186',
 '00025',
 '14390',
 '39448',
 '61182',
 '02913',
 '02230',
 '58993',
 '65733',
 '80067',
 '58500',
 '68759',
 '17560',
 '61806',
 '00309',
 '52147',
 '50373',
 '05082',
 '14771',
 '39965',
 '00251',
 '00966',
 '05961',
 '58870',
 '29441',
 '07203',
 '31811',
 '66191',
 '34317',
 '24468',
 '89681',
 '80374',
 '94601',
 '90817',
 '67212',
 '11282',
 '10120',
 '19002',
 '39103',
 '05507',
 '59181',
 '64385',
 '74367',
 '57228',
 '00090',
 '99288',
 '16174',
 '63098',
 '62061',
 '07166',
 '05211',
 '71805',
 '10673',
 '60688',
 '03338',
 '17966',
 '37151',
 '51310',
 '20847',
 '21688',
 '41000',
 '47146',
 '94392',
 '16112',
 '82685',
 '41042',
 '69681',
 '35512',
 '61813',
 '75347',
 '83659',
 '02547',
 '27732',
 '93671',
 '17790',
 '05663',
 '14387',
 '16372',
 '94538',
 '00196',
 '82954',
 '42098',
 '66062',
 '00582',
 '19800',
 '37408',
 '23738',
 '84540',
 '77665',
 '00195',
 '00303',
 '28010',
 '87536',
 '54781',
 '51205',
 '7140',
 '46622',
 '25593',
 '49308',
 '31994',
 '25683',
 '78494',
 '00045',
 '94881',
 '75910',
 '19202',
 '00197',
 '00217',
 '70810',
 '67400',
 '68768',
 '89837',
 '71813',
 '03421',
 '25199',
 '05304',
 '00074',
 '28731',
 '00274',
 '98171',
 '00069',
 '49634',
 '24404',
 '28399',
 '09902',
 '41026',
 '99884',
 '00343',
 '00624',
 '01861',
 '06079',
 '56044',
 '50047',
 '70370',
 '01636',
 '73302',
 '47567',
 '48255',
 '32796',
 '58814',
 '86721',
 '27129',
 '11891',
 '03535',
 '45485',
 '03500',
 '96630',
 '74840',
 '02217',
 '01721',
 '29417',
 '77811',
 '70940',
 '02263',
 '85989',
 '71791',
 '59266',
 '05974',
 '00304',
 '76096',
 '14667',
 '81057',
 '82054',
 '88708',
 '31755',
 '36692',
 '84459',
 '09188',
 '47933',
 '49367',
 '26442',
 '81570',
 '80253',
 '47623',
 '10105',
 '50332',
 '63837',
 '18524',
 '39440',
 '63606',
 '37732',
 '08741',
 '29476',
 '33171',
 '49215',
 '75251',
 '53045',
 '50063',
 '26445',
 '26440',
 '51301',
 '93884',
 '51795',
 '71327',
 '34791',
 '67850',
 '38614',
 '08971',
 '58668',
 '00322',
 '69037',
 '77994',
 '86545',
 '46970',
 '30481',
 '11569',
 '10653',
 '00276',
 '32310',
 '00176',
 '34988',
 '55354',
 '00050',
 '63306',
 '09226',
 '00002',
 '19130',
 '44018',
 '81529',
 '00226',
 '33251',
 '20395',
 '70290',
 '76299',
 '11215',
 '00270',
 '06316',
 '85504',
 '17982',
 '13070',
 '82822',
 '53510',
 '34705',
 '45846',
 '00208',
 '64211',
 '95193',
 '26916',
 '46732',
 '91125',
 '19911',
 '00144',
 '12041',
 '96771',
 '08072',
 '62687',
 '31762',
 '59269',
 '67450',
 '00269',
 '89056',
 '62261',
 '42453',
 '50144',
 '76246',
 '34343',
 '38463',
 '94454',
 '84055',
 '89801',
 '02639',
 '97831',
 '83771',
 '91438',
 '65388',
 '42120',
 '74432',
 '78133',
 '92073',
 '96730',
 '34169',
 '76523',
 '29271',
 '87394',
 '59305',
 '00299',
 '14037',
 '01431',
 '94135',
 '15588',
 '80382',
 '50756',
 '38771',
 '00566',
 '80847',
 '00167',
 '44502',
 '25083',
 '55659',
 '81409',
 '92747',
 '14088',
 '82211',
 '00156',
 '60147',
 '89576',
 '00290',
 '45876',
 '28062',
 '31062',
 '49387',
 '74345',
 '09315',
 '01024',
 '01248',
 '00160',
 '14835',
 '36358',
 '56764',
 '00286',
 '15930',
 '29025',
 '73251',
 '04281',
 '00221',
 '33237',
 '93020',
 '16971',
 '88538',
 '46960',
 '22688',
 '90571',
 '73946',
 '95151',
 '07331',
 '00260',
 '00076',
 '30767',
 '54538',
 '22455',
 '05368',
 '03736',
 '47157',
 '09259',
 '29118',
 '15229',
 '00005',
 '65321',
 '51474',
 '94494',
 '14360',
 '51241',
 '95609',
 '00083',
 '67972',
 '39524',
 '18873',
 '00183',
 '48493',
 '90612',
 '28551',
 '00170',
 '50349',
 '66386',
 '80463',
 '53943',
 '10046',
 '42468',
 '20690',
 '69566',
 '30431',
 '10982',
 '86981',
 '29485',
 '46783',
 '00306',
 '98126',
 '58196',
 '73158',
 '50276',
 '37915',
 '36141',
 '30067',
 '10993',
 '75771',
 '00109',
 '19411',
 '52350',
 '96349',
 '48514',
 '78673',
 '32591',
 '06790',
 '01403',
 '19559',
 '83449',
 '93028',
 '30059',
 '61095',
 '79620',
 '00078',
 '00133',
 '00756',
 '66082',
 '28593',
 '31792',
 '02853',
 '52219',
 '11165',
 '00169',
 '74414',
 '13824',
 '95935',
 '00008',
 '23958',
 '18253',
 '23049',
 '04991',
 '50471',
 '50291',
 '15731',
 '29796',
 '98156',
 '16193',
 '73038',
 '73336',
 '04857',
 '00163',
 '53920',
 '00013',
 '52209',
 '98703',
 '40520',
 '74375',
 '19855',
 '16630',
 '76803',
 '29000',
 '67379',
 '99835',
 '80289',
 '00295',
 '10905',
 '00284',
 '40591',
 '98474',
 '91645',
 '26477',
 '25781',
 '34711',
 '45701',
 '64503',
 '68037',
 '66205',
 '21177',
 '00209',
 '74747',
 '54788',
 '79920',
 '95810',
 '95301',
 '83937',
 '17536',
 '73419',
 '51235',
 '94414',
 '04387',
 '38422',
 '05091',
 '32816',
 '06681',
 '52902',
 '00263',
 '76105',
 '62962',
 '02604',
 '44201',
 '25943',
 '31196',
 '18890',
 '32949',
 '02962',
 '00113',
 '47656',
 '46566',
 '36593',
 '99734',
 '39638',
 '22099',
 '11361',
 '74103',
 '79817',
 '00324',
 '03562',
 '39079',
 '63852',
 '46333',
 '00031',
 '52520',
 '02091',
 '97965',
 '51060',
 '47938',
 '29379',
 '00203',
 '16144',
 '00271',
 '83900',
 '37607',
 '46948',
 '39537',
 '03080',
 '19265',
 '00206',
 '00207',
 '65254',
 '86474',
 '22692',
 '00053',
 '76011',
 '00143',
 '19808',
 '21955',
 '65555',
 '00139',
 '89394',
 '00171',
 '92893',
 '98260',
 '87802',
 '21831',
 '45736',
 '68317',
 '00065',
 '16085',
 '00191',
 '00235',
 '00180',
 '12561',
 '69556',
 '13312',
 '19920',
 '38522',
 '55300',
 '00781',
 '03381',
 '73381',
 '19273',
 '48646',
 '01183',
 '74369',
 '67241',
 '50911',
 '12003',
 '02663',
 '25829',
 '45641',
 '00132',
 '94295',
 '59128',
 '68006',
 '12413',
 '17916',
 '32666',
 '58845',
 '62459',
 '08242',
 '00352',
 '78257',
 '31011',
 '73876',
 '79066',
 '51403',
 '19699',
 '81293',
 '88135',
 '98519',
 '88023',
 '76386',
 '67961',
 '00153',
 '09582',
 '45914',
 '57954',
 '17564',
 '31114',
 '00285',
 '27529',
 '05047',
 '25804',
 '65632',
 '92691',
 '60909',
 '66708',
 '00130',
 '11808',
 '97860',
 '16214',
 '22119',
 '00030',
 '94406',
 '00020',
 '76819',
 '96699',
 '59326',
 '20454',
 '39539',
 '87029',
 '01088',
 '05154',
 '04193',
 '00026',
 '08998',
 '44199',
 '47354',
 '44364',
 '41937',
 '47844',
 '25331',
 '85379',
 '43791',
 '93189',
 '25923',
 '34829',
 '98530',
 '01883',
 '68081',
 '72364',
 '40059',
 '05353',
 '00313',
 '26779',
 '28627',
 '14884',
 '30041',
 '00210',
 '11007',
 '96081',
 '09072',
 '22354',
 '18318',
 '03617',
 '01637',
 '00115',
 '04854',
 '23416',
 ...}

In [ ]:
alldb_drop2 = alldb_drop.dropna() # ทำการ drop ค่าว่างออก 
alldb_drop2 # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [ ]:
alldb_drop2['user'] = alldb_drop2['user'].astype(int) # เปลี่ยนข้อมูลจาก string เป็น int ในคอลัมน์ user

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
alldb_drop2.dtypes # เช็คว่า user ทั้งหมดเป็น int หรือไม่

user             int64
RowKey          object
date            object
phone           object
site            object
time            object
urine           object
ov              object
PartitionKey    object
dtype: object

#### คอลัมน์ site

In [ ]:
set(alldb_drop2['site']) # เพื่อดูข้อมูลทั้งหมดใน column site

{' 0502',
 '00004',
 '00006',
 '00007',
 '00008',
 '00012',
 '00016',
 '00017',
 '00018',
 '00027',
 '00028',
 '00040',
 '00052',
 '00055',
 '00061',
 '00069',
 '00070',
 '00071',
 '00081',
 '00082',
 '00090',
 '00094',
 '00096',
 '00108',
 '00109',
 '00115',
 '00120',
 '00122',
 '00127',
 '00163',
 '00164',
 '00165',
 '00166',
 '00169',
 '00170',
 '00171',
 '00173',
 '00174',
 '00176',
 '00177',
 '00178',
 '00179',
 '00180',
 '00182',
 '00185',
 '00186',
 '00187',
 '00189',
 '00190',
 '00191',
 '00192',
 '00193',
 '00194',
 '00195',
 '00196',
 '00197',
 '00198',
 '00200',
 '00202',
 '00204',
 '00205',
 '00206',
 '00207',
 '00209',
 '00213',
 '00214',
 '00217',
 '00218',
 '00219',
 '00229',
 '00232',
 '00235',
 '00240',
 '00247',
 '00266',
 '00271',
 '00279',
 '00323',
 '00331',
 '00333',
 '00346',
 '00348',
 '00381',
 '00382',
 '00385',
 '00387',
 '00388',
 '00389',
 '00390',
 '00391',
 '00394',
 '00397',
 '00400',
 '00401',
 '00404',
 '00406',
 '00408',
 '00410',
 '00411',
 '00412',
 '00413',
 '00414',
 '00415',
 '00512',
 '00513',
 '00579',
 '00580',
 '00956',
 '01151',
 '02038',
 '02414',
 '02536',
 '02759',
 '03432',
 '03616',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '043.1',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04348',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05241',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05250\n',
 '05251',
 '05252',
 '05253',
 '05254',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05350ยอ',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05399',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '06521',
 '08485',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11111',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11740',
 '11748',
 '11749',
 '11800',
 '11887',
 '13777',
 '13937',
 '13941',
 '13943',
 '13943\n\n',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '13987',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '20510',
 '22222',
 '24622',
 '24650',
 '27988',
 '27990',
 '27998',
 '28017',
 '28691',
 '28789',
 '44902',
 '45972',
 '49741',
 '50210',
 '75757',
 '97255',
 '99795',
 '99999'}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข 5 หลัก เท่ากับ ข้อมูลว่าง

In [ ]:
alldb_drop2['site'].replace({' 0502':None,
'05250\n':'05250',
'05350ยอ':'05350',
'13943\n\n':'13943',
'043.1':None
},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [ ]:
alldb_drop3 = alldb_drop2.dropna() # ทำการ drop ค่าว่างออก 
alldb_drop3 # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [ ]:
set(alldb_drop3['site']) # เพื่อดูข้อมูลทั้งหมดใน column site

{'00004',
 '00006',
 '00007',
 '00008',
 '00012',
 '00016',
 '00017',
 '00018',
 '00027',
 '00028',
 '00040',
 '00052',
 '00055',
 '00061',
 '00069',
 '00070',
 '00071',
 '00081',
 '00082',
 '00090',
 '00094',
 '00096',
 '00108',
 '00109',
 '00115',
 '00120',
 '00122',
 '00127',
 '00163',
 '00164',
 '00165',
 '00166',
 '00169',
 '00170',
 '00171',
 '00173',
 '00174',
 '00176',
 '00177',
 '00178',
 '00179',
 '00180',
 '00182',
 '00185',
 '00186',
 '00187',
 '00189',
 '00190',
 '00191',
 '00192',
 '00193',
 '00194',
 '00195',
 '00196',
 '00197',
 '00198',
 '00200',
 '00202',
 '00204',
 '00205',
 '00206',
 '00207',
 '00209',
 '00213',
 '00214',
 '00217',
 '00218',
 '00219',
 '00229',
 '00232',
 '00235',
 '00240',
 '00247',
 '00266',
 '00271',
 '00279',
 '00323',
 '00331',
 '00333',
 '00346',
 '00348',
 '00381',
 '00382',
 '00385',
 '00387',
 '00388',
 '00389',
 '00390',
 '00391',
 '00394',
 '00397',
 '00400',
 '00401',
 '00404',
 '00406',
 '00408',
 '00410',
 '00411',
 '00412',
 '00413',
 '00414',
 '00415',
 '00512',
 '00513',
 '00579',
 '00580',
 '00956',
 '01151',
 '02038',
 '02414',
 '02536',
 '02759',
 '03432',
 '03616',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04348',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05241',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05251',
 '05252',
 '05253',
 '05254',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05399',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '06521',
 '08485',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11111',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11740',
 '11748',
 '11749',
 '11800',
 '11887',
 '13777',
 '13937',
 '13941',
 '13943',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '13987',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '20510',
 '22222',
 '24622',
 '24650',
 '27988',
 '27990',
 '27998',
 '28017',
 '28691',
 '28789',
 '44902',
 '45972',
 '49741',
 '50210',
 '75757',
 '97255',
 '99795',
 '99999'}

In [ ]:
alldb_drop3['site'] = alldb_drop3['site'].astype(int) # เปลี่ยนข้อมูลจาก string เป็น int ในคอลัมน์ site

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
alldb_drop3.dtypes # เช็คว่า site ทั้งหมดเป็น int หรือไม่

user             int64
RowKey          object
date            object
phone           object
site             int64
time            object
urine           object
ov              object
PartitionKey    object
dtype: object

#### คอลัมน์ ov

In [ ]:
set(alldb_drop3['ov']) # เพื่อดูข้อมูลทั้งหมดใน column ov

{'0', '1', '2', '3', '4', 'ติดเชื้อ +2 '}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข  เท่ากับ ข้อมูลว่าง

In [ ]:
alldb_drop3['ov'].replace({'ติดเชื้อ +2 ':None},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [ ]:
alldb_drop4 = alldb_drop3.dropna() # ทำการ drop ค่าว่างออก 
alldb_drop4 # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13:08:39,มีตะกอน,0,0000
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14:22:22,ปกติ (เหลืองใส),0,0000
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),4,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [ ]:
set(alldb_drop4['ov']) # เพื่อดูข้อมูลทั้งหมดใน column ov

{'0', '1', '2', '3', '4'}

In [ ]:
alldb_drop4['ov'] = alldb_drop4['ov'].astype(int) # เปลี่ยนข้อมูลจาก string เป็น int ในคอลัมน์ ov

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
alldb_drop4.dtypes # เช็คว่า ov ทั้งหมดเป็น int หรือไม่

user             int64
RowKey          object
date            object
phone           object
site             int64
time            object
urine           object
ov               int64
PartitionKey    object
dtype: object

#### คอลัมน์ PartitionKey

In [ ]:
set(alldb_drop4['PartitionKey']) # เพื่อดูข้อมูลทั้งหมดใน column PartitionKey

{'00014',
 '01035',
 '00100',
 '02177',
 '08908',
 '01045',
 '56',
 '01930',
 '02702',
 '04347',
 '01522',
 '00043',
 '01790',
 '01468',
 '00520',
 '00557',
 '08949',
 '05986',
 '1022',
 '01136',
 '04735',
 '02340',
 '01581',
 '08115',
 '01025',
 '00396',
 '01655',
 '01207',
 '02375',
 '01777',
 '02783',
 '08958',
 '01351',
 '00205',
 '00632',
 '06004',
 '05248',
 '00986',
 '00027',
 '01859',
 '02272',
 '05967',
 '06060',
 '00080',
 '04648',
 '02720',
 '03075',
 '02338',
 '00423',
 '00224',
 '00612',
 '01039',
 '00798',
 '01997',
 '00928',
 '08983',
 '00700',
 '01321',
 '00675',
 '01171',
 '01481',
 '08954',
 '01936',
 '02526',
 '00399',
 '01172',
 '01675',
 '03287',
 '03359',
 '04137',
 '000167',
 '03932',
 '05124',
 '03155',
 '05290',
 '04692',
 '06012',
 '00849',
 '02678',
 '02586',
 '03313',
 '08900',
 '01865',
 '00469',
 '01643',
 '02979',
 '00016',
 '02793',
 '02139',
 '03397',
 '05266',
 '03217',
 '02077',
 '00288',
 '08984',
 '01231',
 '01639',
 '08961',
 '01938',
 '05966',
 '00605',
 '09035',
 '00328',
 '09030',
 '02578',
 '01738',
 '02823',
 '01200',
 '01322',
 '134',
 '02120',
 '02257',
 '05255',
 '00466',
 '05132',
 '01069',
 '00517',
 '01153',
 '01101',
 '03977',
 '08923',
 '00655',
 '00507',
 '01238',
 '02151',
 '05116',
 '10980',
 '02417',
 '04645',
 '00387',
 '01422',
 '02379',
 '02825',
 '02336',
 '01112',
 '06037',
 '03415',
 '03983',
 '00311',
 '02666',
 '00668',
 '02643',
 '08968',
 '02188',
 '00318',
 '00935',
 '00283',
 '01306',
 '03400',
 '00863',
 '02973',
 '03002',
 '08912',
 '02106',
 '01360',
 '02997',
 '000102',
 '01996',
 '03152',
 '04688',
 '05098',
 '02000',
 '03527',
 '00281',
 '10968',
 '01472',
 '00454',
 '00913',
 '03462',
 '03378',
 '02258',
 '01444',
 '00239',
 '00302',
 '00484',
 '02288',
 '02559',
 '01245',
 '03416',
 '10991',
 '02579',
 '00121',
 '01076',
 '03538',
 '09009',
 '02204',
 '00157',
 '00923',
 '02557',
 '03121',
 '04620',
 '00392',
 '05127',
 '03708',
 '00308',
 '03179',
 '02184',
 '02540',
 '00243',
 '04643',
 '02137',
 '02887',
 '04253',
 '05977',
 '03279',
 '05106',
 '00165',
 '03100',
 '121',
 '01412',
 '177',
 '08503',
 '03273',
 '00001',
 '01354',
 '00545',
 '03113',
 '00910',
 '02750',
 '02692',
 '04674',
 '08963',
 '04180',
 '08964',
 '04717',
 '00427',
 '05982',
 '02992',
 '00519',
 '92',
 '05097',
 '01693',
 '01044',
 '193',
 '10974',
 '03386',
 '00219',
 '03925',
 '02298',
 '00359',
 '01517',
 '01685',
 '01022',
 '01335',
 '08902',
 '08985',
 '01882',
 '00388',
 '00010',
 '01873',
 '02789',
 '02776',
 '00458',
 '00824',
 '01123',
 '04094',
 '02886',
 '02212',
 '06040',
 '03563',
 '00237',
 '01080',
 '02874',
 '00101',
 '00215',
 '00952',
 '03358',
 '04104',
 '01911',
 '01597',
 '01407',
 '06059',
 '03417',
 '05984',
 '01209',
 '01530',
 '33333',
 '01288',
 '01667',
 '00145',
 '00230',
 '983',
 '00770',
 '0010',
 '02396',
 '01462',
 '02883',
 '02470',
 '02007',
 '01109',
 '01239',
 '02366',
 '00979',
 '02644',
 '05110',
 '02400',
 '02912',
 '01116',
 '05100',
 '00129',
 '05121',
 '00748',
 '00425',
 '02380',
 '05720',
 '153',
 '01826',
 '02320',
 '01749',
 '01765',
 '00261',
 '03434',
 '00844',
 '05119',
 '01559',
 '02423',
 '02072',
 '01549',
 '00212',
 '00415',
 '02737',
 '00456',
 '00711',
 '02275',
 '01972',
 '00292',
 '03233',
 '00690',
 '01152',
 '02293',
 '02142',
 '01246',
 '02544',
 '03315',
 '01175',
 '01281',
 '01658',
 '00347',
 '08918',
 '02071',
 '00182',
 '02178',
 '00812',
 '02983',
 '05327',
 '185',
 '00714',
 '00022',
 '00011',
 '01089',
 '01802',
 '03512',
 '00116',
 '01718',
 '06005',
 '00411',
 '00571',
 '00946',
 '02070',
 '00110',
 '00194',
 '01473',
 '00549',
 '02896',
 '04663',
 '06013',
 '00348',
 '00098',
 '00370',
 '00107',
 '01666',
 '00868',
 '01808',
 '05724',
 '01832',
 '02144',
 '00257',
 '03005',
 '01178',
 '00088',
 '01854',
 '02777',
 '02435',
 '01081',
 '05958',
 '10976',
 '00760',
 '00867',
 '03189',
 '00664',
 '01817',
 '01821',
 '09008',
 '107',
 '04671',
 '01947',
 '01250',
 '02037',
 '00944',
 '00954',
 '01679',
 '02103',
 '02985',
 '04633',
 '03019',
 '03825',
 '03267',
 '04670',
 '05719',
 '00914',
 '06027',
 '10963',
 '02638',
 '00905',
 '03225',
 '08930',
 '00188',
 '10990',
 '01458',
 '03334',
 '00755',
 '00640',
 '08572',
 '02989',
 '00178',
 '01406',
 '00234',
 '10967',
 '01313',
 '00773',
 '01263',
 '03553',
 '01877',
 '00747',
 '01376',
 '00581',
 '01847',
 '00772',
 '04686',
 '01869',
 '02095',
 '01692',
 '01357',
 '03939',
 '02795',
 '01876',
 '01805',
 '03295',
 '01485',
 '01242',
 '03725',
 '00659',
 '00461',
 '02147',
 '00829',
 '02863',
 '00800',
 '01082',
 '04738',
 '03104',
 '00832',
 '00911',
 '01010',
 '01009',
 '00036',
 '01659',
 '02880',
 '03978',
 '00435',
 '01949',
 '01729',
 '00083\u200b',
 '01179',
 '01974',
 '03487',
 '06055',
 '05962',
 '00615',
 '09034',
 '01850',
 '08970',
 '01652',
 '00996',
 '02488',
 '00135',
 '04681',
 '01515',
 '03328',
 '00962',
 '02767',
 '01181',
 '03231',
 '01910',
 '08959',
 '01704',
 '01628',
 '00351',
 '02240',
 '02995',
 '05993',
 '01141',
 '04632',
 '03039',
 '08993',
 '00409',
 '00951',
 '01968',
 '03981',
 '01492',
 '02085',
 '06022',
 '02730',
 '01737',
 '00440',
 '00763',
 '01440',
 '02352',
 '02858',
 '02597',
 '05104',
 '00279',
 '01593',
 '02624',
 '08951',
 '01311',
 '02002',
 '02349',
 '01758',
 '00070',
 '05308',
 '00656',
 '01169',
 '00071',
 '00620',
 '02442',
 '03325',
 '04693',
 '08966',
 '03048',
 '05233',
 '00677',
 '02489',
 '00767',
 '02100',
 '01479',
 '02438',
 '02701',
 '02237',
 '00957',
 '03139',
 '01266',
 '10995',
 '04183',
 '03326',
 '04625',
 '01755',
 '01626',
 '03339',
 '00253',
 '03057',
 '08921',
 '0005',
 '04087',
 '01557',
 '00277',
 '03211',
 '05207',
 '01624',
 '09023',
 '00722',
 '01159',
 '03612',
 '02968',
 '03137',
 '00127',
 '06009',
 '02190',
 '00173',
 '00931',
 '02401',
 '00874',
 '00429',
 '00569',
 '00495',
 '00654',
 '01126',
 '00609',
 '01429',
 '01641',
 '02513',
 '48',
 '01839',
 '02882',
 '09027',
 '01544',
 '00029',
 '01587',
 '00658',
 '00960',
 '00018',
 '02563',
 '00727',
 '09026',
 '02779',
 '03445',
 '00669',
 '01227',
 '02757',
 '04004',
 '01019',
 '02972',
 '10985',
 '03505',
 '01026',
 '01728',
 '01646',
 '02025',
 '01681',
 '00926',
 '01402',
 '01436',
 '01014',
 '01317',
 '01937',
 '02900',
 '04644',
 '02709',
 '01297',
 '00204',
 '04511',
 '03362',
 '05281',
 '00198',
 '02262',
 '01731',
 '00267',
 '00974',
 '00631',
 '00049',
 '00416',
 '03207',
 '08967',
 '02872',
 '02648',
 '01684',
 '01199',
 '06724',
 '01094',
 '01241',
 '01603',
 '02782',
 '00895',
 '01344',
 '02098',
 '01345',
 '01121',
 '01390',
 '01615',
 '05396',
 '01085',
 '00086',
 '00896',
 '02596',
 '03007',
 '00861',
 '00025',
 '02726',
 '02773',
 '03112',
 '01990',
 '01474',
 '00533',
 '00715',
 '02230',
 '01838',
 '00371',
 '00661',
 '02676',
 '02063',
 '00393',
 '02136',
 '02345',
 '00505',
 '03403',
 '01992',
 '01373',
 '02778',
 '01560',
 '00309',
 '01369',
 '01757',
 '03954',
 '00897',
 '04011',
 '00862',
 '01935',
 '05128',
 '09020',
 '01309',
 '00251',
 '03525',
 '00966',
 '02731',
 '05961',
 '01562',
 '01374',
 '03014',
 '01020',
 '01228',
 '02466',
 '03060',
 '05172',
 '00688',
 '01875',
 '03936',
 '05973',
 '08919',
 '05985',
 '02936',
 '02694',
 '02999',
 '03533',
 '10979',
 '16',
 '01662',
 '01748',
 '00350',
 '01077',
 '01259',
 '01482',
 '02416',
 '03238',
 '03399',
 '04668',
 '01640',
 '112',
 '02612',
 '01433',
 '00980',
 '01899',
 '04117',
 '00354',
 '01583',
 '05382',
 '00240',
 '08937',
 '02291',
 '08911',
 '01819',
 '00969',
 '05987',
 '05139',
 '01349',
 '00752',
 '02172',
 '04171',
 '00090',
 '00707',
 '10987',
 '01154',
 '03565',
 '01598',
 '00811',
 '06062',
 '00804',
 '01319',
 '01561',
 '01973',
 '00704',
 '01927',
 '04189',
 '01894',
 '00730',
 '03130',
 '01299',
 '03338',
 '03042',
 '05963',
 '05983',
 '05997',
 '04018',
 '08928',
 '00880',
 '02354',
 '04191',
 '00060',
 '02330',
 '01856',
 '01294',
 '03221',
 '02977',
 '02384',
 '01454',
 '00445',
 '08933',
 '01940',
 '01378',
 '08938',
 '00344',
 '01168',
 '02032',
 '02933',
 '00334',
 '02547',
 '00407',
 '08909',
 '04118',
 '00381',
 '00119',
 '01453',
 '01162',
 '00860',
 '00196',
 '00554',
 '02254',
 '02627',
 '01857',
 '02164',
 '01318',
 '01229',
 '01519',
 '08477',
 '02988',
 '00582',
 '02040',
 '02152',
 '06047',
 '05965',
 '00537',
 '01672',
 '00231',
 '01384',
 '01711',
 '02197',
 '03015',
 '01405',
 '06003',
 '01870',
 '00232',
 '0034',
 '01680',
 '02791',
 '03218',
 '00195',
 '00303',
 '01546',
 '01290',
 '02059',
 '03296',
 '03111',
 '01779',
 '01889',
 '03151',
 '08284',
 '00\u200b175',
 '02651',
 '01845',
 '00670',
 '00045',
 '01017',
 '00837',
 '01423',
 '06053',
 '01060',
 '87606',
 '00614',
 '03059',
 '00264',
 '00197',
 '00787',
 '02265',
 '00217',
 '00684',
 '00965',
 '03548',
 '08960',
 '05292',
 '08976',
 '00732',
 '04636',
 '02028',
 '10970',
 '00539',
 '01118',
 '01385',
 '04185',
 '05195',
 '00691',
 '02704',
 '00676',
 '00992',
 '01804',
 '02196',
 '03110',
 '0030',
 '01536',
 '00074',
 '00921',
 '08995',
 '00796',
 '01946',
 '00274',
 '01459',
 '02664',
 '02356',
 '00490',
 '00069',
 '00542',
 '01833',
 '02675',
 '00625',
 '05245',
 '00343',
 '02662',
 '00624',
 '00930',
 '01618',
 '01861',
 '01093',
 '00310',
 '04012',
 '10988',
 '01705',
 '06026',
 '01751',
 '10973',
 '119',
 '01525',
 '00000',
 '06029',
 '00731',
 '00247',
 '01636',
 '01038',
 '03497',
 '00412',
 '00398',
 '00792',
 '00220',
 '00522',
 '05991',
 '08069',
 '02922',
 '03197',
 '00846',
 '01487',
 '03535',
 '05105',
 '02951',
 '03335',
 '03500',
 '1881',
 '29',
 '01211',
 '01196',
 '02534',
 '02891',
 '01721',
 '02078',
 '00382',
 '01952',
 '00865',
 '02565',
 '04679',
 '02588',
 '00560',
 '00365',
 '00825',
 '00304',
 '05974',
 '09010',
 '52',
 '01460',
 '09043',
 '09013',
 '01922',
 '02903',
 '00553',
 '03133',
 '03494',
 '00802',
 '00949',
 '00583',
 '01267',
 '00500',
 '04650',
 '01272',
 '03395',
 '00810',
 '02727',
 '01995',
 '00819',
 '00953',
 '00594',
 '01754',
 '02407',
 '00663',
 '01047',
 '00497',
 '03715',
 ...}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข 5 หลัก เท่ากับ ข้อมูลว่าง

In [ ]:
alldb_drop4['PartitionKey'].replace({
'61':None,
'29':None,
'52':None,
'0083':None,
'000152':None,
'0034':None,
'23':None,
'219':None,
'185':None,
'00\u200b175':None,
'89':None,
'150':None,
'196':None,
'193':None,
'125':None,
'1881':None,
'32':None,
'124':None,
'112':None,
'00083\u200b':None,
'002.5':None                         
},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [ ]:
alldb_drop5 = alldb_drop4.dropna() # ทำการ drop ค่าว่างออก 
alldb_drop5 # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13:08:39,มีตะกอน,0,0000
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14:22:22,ปกติ (เหลืองใส),0,0000
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),4,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [ ]:
set(alldb_drop5['PartitionKey']) # เพื่อดูข้อมูลทั้งหมดใน column PartitionKey

{'00014',
 '01035',
 '00100',
 '02177',
 '08908',
 '01045',
 '56',
 '01930',
 '02702',
 '04347',
 '01522',
 '00043',
 '01790',
 '01468',
 '00520',
 '00557',
 '08949',
 '05986',
 '1022',
 '01136',
 '04735',
 '02340',
 '01581',
 '08115',
 '01025',
 '00396',
 '01655',
 '01207',
 '02375',
 '01777',
 '02783',
 '08958',
 '01351',
 '00205',
 '00632',
 '06004',
 '05248',
 '00986',
 '00027',
 '01859',
 '02272',
 '05967',
 '06060',
 '00080',
 '04648',
 '02720',
 '03075',
 '02338',
 '00423',
 '00224',
 '00612',
 '01039',
 '00798',
 '01997',
 '00928',
 '08983',
 '00700',
 '01321',
 '00675',
 '01171',
 '01481',
 '08954',
 '01936',
 '02526',
 '00399',
 '01172',
 '01675',
 '03287',
 '03359',
 '04137',
 '000167',
 '03932',
 '05124',
 '03155',
 '05290',
 '04692',
 '06012',
 '00849',
 '02678',
 '02586',
 '03313',
 '08900',
 '01865',
 '00469',
 '01643',
 '02979',
 '00016',
 '02793',
 '02139',
 '03397',
 '05266',
 '03217',
 '02077',
 '00288',
 '08984',
 '01231',
 '01639',
 '08961',
 '01938',
 '05966',
 '00605',
 '09035',
 '00328',
 '09030',
 '02578',
 '01738',
 '02823',
 '01200',
 '01322',
 '134',
 '02120',
 '02257',
 '05255',
 '00466',
 '05132',
 '01069',
 '00517',
 '01153',
 '01101',
 '03977',
 '08923',
 '00655',
 '00507',
 '01238',
 '02151',
 '05116',
 '10980',
 '02417',
 '04645',
 '00387',
 '01422',
 '02379',
 '02825',
 '02336',
 '01112',
 '06037',
 '03415',
 '03983',
 '00311',
 '02666',
 '00668',
 '02643',
 '08968',
 '02188',
 '00318',
 '00935',
 '00283',
 '01306',
 '03400',
 '00863',
 '02973',
 '03002',
 '08912',
 '02106',
 '01360',
 '02997',
 '000102',
 '01996',
 '03152',
 '04688',
 '05098',
 '02000',
 '03527',
 '00281',
 '10968',
 '01472',
 '00454',
 '00913',
 '03462',
 '03378',
 '02258',
 '01444',
 '00239',
 '00302',
 '00484',
 '02288',
 '02559',
 '01245',
 '03416',
 '10991',
 '02579',
 '00121',
 '01076',
 '03538',
 '09009',
 '02204',
 '00157',
 '00923',
 '02557',
 '03121',
 '04620',
 '00392',
 '05127',
 '03708',
 '00308',
 '03179',
 '02184',
 '02540',
 '00243',
 '04643',
 '02137',
 '02887',
 '04253',
 '05977',
 '03279',
 '05106',
 '00165',
 '03100',
 '121',
 '01412',
 '177',
 '08503',
 '03273',
 '00001',
 '01354',
 '00545',
 '03113',
 '00910',
 '02750',
 '02692',
 '04674',
 '08963',
 '04180',
 '08964',
 '04717',
 '00427',
 '05982',
 '02992',
 '00519',
 '92',
 '05097',
 '01693',
 '01044',
 '10974',
 '03386',
 '00219',
 '03925',
 '02298',
 '00359',
 '01517',
 '01685',
 '01022',
 '01335',
 '08902',
 '08985',
 '01882',
 '00388',
 '00010',
 '01873',
 '02789',
 '02776',
 '00458',
 '00824',
 '01123',
 '04094',
 '02886',
 '02212',
 '06040',
 '03563',
 '00237',
 '01080',
 '02874',
 '00101',
 '00215',
 '00952',
 '03358',
 '04104',
 '01911',
 '01597',
 '01407',
 '06059',
 '03417',
 '05984',
 '01209',
 '01530',
 '33333',
 '01288',
 '01667',
 '00145',
 '00230',
 '983',
 '00770',
 '0010',
 '02396',
 '01462',
 '02883',
 '02470',
 '02007',
 '01109',
 '01239',
 '02366',
 '00979',
 '02644',
 '05110',
 '02400',
 '02912',
 '01116',
 '05100',
 '00129',
 '05121',
 '00748',
 '00425',
 '02380',
 '05720',
 '153',
 '01826',
 '02320',
 '01749',
 '01765',
 '00261',
 '03434',
 '00844',
 '05119',
 '01559',
 '02423',
 '02072',
 '01549',
 '00212',
 '00415',
 '02737',
 '00456',
 '00711',
 '02275',
 '01972',
 '00292',
 '03233',
 '00690',
 '01152',
 '02293',
 '02142',
 '01246',
 '02544',
 '03315',
 '01175',
 '01281',
 '01658',
 '00347',
 '08918',
 '02071',
 '00182',
 '02178',
 '00812',
 '02983',
 '05327',
 '00714',
 '00022',
 '00011',
 '01089',
 '01802',
 '03512',
 '00116',
 '01718',
 '06005',
 '00411',
 '00571',
 '00946',
 '02070',
 '00110',
 '00194',
 '01473',
 '00549',
 '02896',
 '04663',
 '06013',
 '00348',
 '00098',
 '00370',
 '00107',
 '01666',
 '00868',
 '01808',
 '05724',
 '01832',
 '02144',
 '00257',
 '03005',
 '01178',
 '00088',
 '01854',
 '02777',
 '02435',
 '01081',
 '05958',
 '10976',
 '00760',
 '00867',
 '03189',
 '00664',
 '01817',
 '01821',
 '09008',
 '107',
 '04671',
 '01947',
 '01250',
 '02037',
 '00944',
 '00954',
 '01679',
 '02103',
 '02985',
 '04633',
 '03019',
 '03825',
 '03267',
 '04670',
 '05719',
 '00914',
 '06027',
 '10963',
 '02638',
 '00905',
 '03225',
 '08930',
 '00188',
 '10990',
 '01458',
 '03334',
 '00755',
 '00640',
 '08572',
 '02989',
 '00178',
 '01406',
 '00234',
 '10967',
 '01313',
 '00773',
 '01263',
 '03553',
 '01877',
 '00747',
 '01376',
 '00581',
 '01847',
 '00772',
 '04686',
 '01869',
 '02095',
 '01692',
 '01357',
 '03939',
 '02795',
 '01876',
 '01805',
 '03295',
 '01485',
 '01242',
 '03725',
 '00659',
 '00461',
 '02147',
 '00829',
 '02863',
 '00800',
 '01082',
 '04738',
 '03104',
 '00832',
 '00911',
 '01010',
 '01009',
 '00036',
 '01659',
 '02880',
 '03978',
 '00435',
 '01949',
 '01729',
 '01179',
 '01974',
 '03487',
 '06055',
 '05962',
 '00615',
 '09034',
 '01850',
 '08970',
 '01652',
 '00996',
 '02488',
 '00135',
 '04681',
 '01515',
 '03328',
 '00962',
 '02767',
 '01181',
 '03231',
 '01910',
 '08959',
 '01704',
 '01628',
 '00351',
 '02240',
 '02995',
 '05993',
 '01141',
 '04632',
 '03039',
 '08993',
 '00409',
 '00951',
 '01968',
 '03981',
 '01492',
 '02085',
 '06022',
 '02730',
 '01737',
 '00440',
 '00763',
 '01440',
 '02352',
 '02858',
 '02597',
 '05104',
 '00279',
 '01593',
 '02624',
 '08951',
 '01311',
 '02002',
 '02349',
 '01758',
 '00070',
 '05308',
 '00656',
 '01169',
 '00071',
 '00620',
 '02442',
 '03325',
 '04693',
 '08966',
 '03048',
 '05233',
 '00677',
 '02489',
 '00767',
 '02100',
 '01479',
 '02438',
 '02701',
 '02237',
 '00957',
 '03139',
 '01266',
 '10995',
 '04183',
 '03326',
 '04625',
 '01755',
 '01626',
 '03339',
 '00253',
 '03057',
 '08921',
 '0005',
 '04087',
 '01557',
 '00277',
 '03211',
 '05207',
 '01624',
 '09023',
 '00722',
 '01159',
 '03612',
 '02968',
 '03137',
 '00127',
 '06009',
 '02190',
 '00173',
 '00931',
 '02401',
 '00874',
 '00429',
 '00569',
 '00495',
 '00654',
 '01126',
 '00609',
 '01429',
 '01641',
 '02513',
 '48',
 '01839',
 '02882',
 '09027',
 '01544',
 '00029',
 '01587',
 '00658',
 '00960',
 '00018',
 '02563',
 '00727',
 '09026',
 '02779',
 '03445',
 '00669',
 '01227',
 '02757',
 '04004',
 '01019',
 '02972',
 '10985',
 '03505',
 '01026',
 '01728',
 '01646',
 '02025',
 '01681',
 '00926',
 '01402',
 '01436',
 '01014',
 '01317',
 '01937',
 '02900',
 '04644',
 '02709',
 '01297',
 '00204',
 '04511',
 '03362',
 '05281',
 '00198',
 '02262',
 '01731',
 '00267',
 '00974',
 '00631',
 '00049',
 '00416',
 '03207',
 '08967',
 '02872',
 '02648',
 '01684',
 '01199',
 '06724',
 '01094',
 '01241',
 '01603',
 '02782',
 '00895',
 '01344',
 '02098',
 '01345',
 '01121',
 '01390',
 '01615',
 '05396',
 '01085',
 '00086',
 '00896',
 '02596',
 '03007',
 '00861',
 '00025',
 '02726',
 '02773',
 '03112',
 '01990',
 '01474',
 '00533',
 '00715',
 '02230',
 '01838',
 '00371',
 '00661',
 '02676',
 '02063',
 '00393',
 '02136',
 '02345',
 '00505',
 '03403',
 '01992',
 '01373',
 '02778',
 '01560',
 '00309',
 '01369',
 '01757',
 '03954',
 '00897',
 '04011',
 '00862',
 '01935',
 '05128',
 '09020',
 '01309',
 '00251',
 '03525',
 '00966',
 '02731',
 '05961',
 '01562',
 '01374',
 '03014',
 '01020',
 '01228',
 '02466',
 '03060',
 '05172',
 '00688',
 '01875',
 '03936',
 '05973',
 '08919',
 '05985',
 '02936',
 '02694',
 '02999',
 '03533',
 '10979',
 '16',
 '01662',
 '01748',
 '00350',
 '01077',
 '01259',
 '01482',
 '02416',
 '03238',
 '03399',
 '04668',
 '01640',
 '02612',
 '01433',
 '00980',
 '01899',
 '04117',
 '00354',
 '01583',
 '05382',
 '00240',
 '08937',
 '02291',
 '08911',
 '01819',
 '00969',
 '05987',
 '05139',
 '01349',
 '00752',
 '02172',
 '04171',
 '00090',
 '00707',
 '10987',
 '01154',
 '03565',
 '01598',
 '00811',
 '06062',
 '00804',
 '01319',
 '01561',
 '01973',
 '00704',
 '01927',
 '04189',
 '01894',
 '00730',
 '03130',
 '01299',
 '03338',
 '03042',
 '05963',
 '05983',
 '05997',
 '04018',
 '08928',
 '00880',
 '02354',
 '04191',
 '00060',
 '02330',
 '01856',
 '01294',
 '03221',
 '02977',
 '02384',
 '01454',
 '00445',
 '08933',
 '01940',
 '01378',
 '08938',
 '00344',
 '01168',
 '02032',
 '02933',
 '00334',
 '02547',
 '00407',
 '08909',
 '04118',
 '00381',
 '00119',
 '01453',
 '01162',
 '00860',
 '00196',
 '00554',
 '02254',
 '02627',
 '01857',
 '02164',
 '01318',
 '01229',
 '01519',
 '08477',
 '02988',
 '00582',
 '02040',
 '02152',
 '06047',
 '05965',
 '00537',
 '01672',
 '00231',
 '01384',
 '01711',
 '02197',
 '03015',
 '01405',
 '06003',
 '01870',
 '00232',
 '03218',
 '01680',
 '02791',
 '00195',
 '00303',
 '01546',
 '01290',
 '02059',
 '03296',
 '03111',
 '01779',
 '01889',
 '03151',
 '08284',
 '02651',
 '01845',
 '00670',
 '00045',
 '01017',
 '00837',
 '01423',
 '06053',
 '01060',
 '87606',
 '00614',
 '03059',
 '00264',
 '00197',
 '00787',
 '02265',
 '00217',
 '00684',
 '00965',
 '03548',
 '08960',
 '05292',
 '08976',
 '00732',
 '04636',
 '02028',
 '10970',
 '00539',
 '01118',
 '01385',
 '04185',
 '05195',
 '00691',
 '02704',
 '00676',
 '00992',
 '01804',
 '02196',
 '03110',
 '0030',
 '01536',
 '00074',
 '00921',
 '08995',
 '00796',
 '01946',
 '00274',
 '01459',
 '02664',
 '02356',
 '00490',
 '00069',
 '00542',
 '01833',
 '02675',
 '00625',
 '05245',
 '00343',
 '02662',
 '00624',
 '00930',
 '01618',
 '01861',
 '01093',
 '00310',
 '04012',
 '10988',
 '01705',
 '06026',
 '01751',
 '10973',
 '119',
 '01525',
 '00000',
 '06029',
 '00731',
 '00247',
 '01636',
 '01038',
 '03497',
 '00412',
 '00398',
 '00792',
 '00220',
 '00522',
 '05991',
 '08069',
 '02922',
 '03197',
 '00846',
 '01487',
 '03535',
 '05105',
 '02951',
 '03335',
 '03500',
 '01211',
 '01196',
 '02534',
 '02891',
 '01721',
 '02078',
 '00382',
 '01952',
 '00865',
 '02565',
 '04679',
 '02588',
 '00560',
 '00365',
 '00825',
 '00304',
 '05974',
 '09010',
 '01460',
 '09043',
 '09013',
 '01922',
 '02903',
 '00553',
 '03133',
 '03494',
 '00802',
 '00949',
 '00583',
 '01267',
 '00500',
 '04650',
 '01272',
 '03395',
 '00810',
 '02727',
 '01995',
 '00819',
 '00953',
 '00594',
 '01754',
 '02407',
 '00663',
 '01047',
 '00497',
 '03715',
 '02387',
 '00077',
 '05989',
 '00408',
 '01860',
 '01324',
 '00534',
 '02402',
 '00956',
 ...}

In [ ]:
alldb_drop5['PartitionKey'] = alldb_drop5['PartitionKey'].astype(int) # เปลี่ยนข้อมูลจาก string เป็น int ในคอลัมน์ PartitionKey

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
alldb_drop5.dtypes # เช็คว่า PartitionKey ทั้งหมดเป็น int หรือไม่

user             int64
RowKey          object
date            object
phone           object
site             int64
time            object
urine           object
ov               int64
PartitionKey     int64
dtype: object

### ทำการเเก้ไขข้อมูลให้ถูกต้อง ในรูปแบบที่กำหนด

#### คอลัมน์ time

In [ ]:
alldb_drop5['time'] = alldb_drop5['time'].replace(':','-', regex=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## ตาราง alldb.csv หลังจัดการข้อมูลแล้ว

In [ ]:
alldb_drop5 # ดูตาราง alldb.csv หลังจัดการข้อมูลแล้ว

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13-08-39,มีตะกอน,0,0
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14-22-22,ปกติ (เหลืองใส),0,0
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,0
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14-46-08,ปกติ (เหลืองใส),4,1
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15-27-45,ปกติ (เหลืองใส),4,1
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999

## จัดการข้อมูลหลัก ตาราง hospital_list.xlsx

In [ ]:
hospital_list # แสดงข้อมูลตาราง hospital_list.xlsx

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

### ตรวจสอบค่า Missing

In [ ]:
hospital_list.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

hcode            False
name              True
zone_code        False
zone_name         True
provincecode      True
province         False
amphurcode        True
amphur            True
tamboncode        True
tambon            True
code4             True
name5             True
code9             True
name10            True
short_thai        True
short_english     True
dtype: bool

### ใช้ .dropna ซึ่งจะใช้ตัดแถวข้อมูลที่มีค่า missing

In [ ]:
h_drop = hospital_list.dropna() #ใช้ dropna เพื่อต้องการลบข้อมูลทั้งแถวออกเมื่อมีคอลัมน์ใดคอลัมน์หนึ่งเป็น NaN
h_drop

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
931,00933,โรงพยาบาลส่งเสริมสุขภาพตำบลสำโรงเหนือ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,2.0,สำโรงเหนือ,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
932,00934,โรงพยาบาลส่งเสริมสุขภาพตำบลบางเมือง,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,3.0,บางเมือง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
933,00935,โรงพยาบาลส่งเสริมสุขภาพตำบลเฉลิมพระเกียรติ บ้า...,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,3.0,บางเมือง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
934,00936,โรงพยาบาลส่งเสริมสุขภาพตำบลบางปูใหม่,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,8.0,บางปูใหม่,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
935,00937,โรงพยาบาลส่งเสริมสุขภาพตำบลแพรกษา,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,10.0,แพรกษา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [ ]:
h_drop.shape #ตรวจสอบขนาดของตารางใหม่

(11798, 16)

In [ ]:
removes = hospital_list.shape[0] - h_drop.shape[0]
print(f'size before drop = {hospital_list.shape[0]}')
print(f'size after drop = {h_drop.shape[0]}')
print(f'% from drop = {(removes/hospital_list.shape[0])*100}')
 # จากการคำนวณพบว่ามีข้อมูลที่หายไปถึง 31% ดังนั้น จึงไม่สามารถใช้การ .dropna() ได ้

size before drop = 17103
size after drop = 11798
% from drop = 31.017950067239664

In [ ]:
hospital_list[['name']] = hospital_list[['name']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [ ]:
hospital_list[['zone_name']] = hospital_list[['zone_name']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [ ]:
p = hospital_list[['provincecode']].mean() #กำหนดให้ provincecode เป็นค่าเฉลี่ยของ provincecode
hospital_list[['provincecode']] = hospital_list[['provincecode']].fillna(p) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [ ]:
a = hospital_list[['amphurcode']].mean() #กำหนดให้ amphurcode เป็นค่าเฉลี่ยของ amphurcode
hospital_list[['amphurcode']] = hospital_list[['amphurcode']].fillna(a) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [ ]:
hospital_list[['amphur']] = hospital_list[['amphur']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [ ]:
t = hospital_list[['tamboncode']].mean() #กำหนดให้ tamboncode เป็นค่าเฉลี่ยของ tamboncode
hospital_list[['tamboncode']] = hospital_list[['tamboncode']].fillna(t) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [ ]:
hospital_list[['tambon']] = hospital_list[['tambon']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [ ]:
c = hospital_list[['code4']].mean() #กำหนดให้ code4 เป็นค่าเฉลี่ยของ code4
hospital_list[['code4']] = hospital_list[['code4']].fillna(c) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [ ]:
hospital_list[['name5']] = hospital_list[['name5']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [ ]:
c2 = hospital_list[['code9']].mean() #กำหนดให้ code9 เป็นค่าเฉลี่ยของ code9
hospital_list[['code9']] = hospital_list[['code9']].fillna(c2) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [ ]:
hospital_list[['name10']] = hospital_list[['name10']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [ ]:
hospital_list[['short_thai']] = hospital_list[['short_thai']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [ ]:
hospital_list[['short_english']] = hospital_list[['short_english']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [ ]:
hospital_list.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

hcode            False
name             False
zone_code        False
zone_name        False
provincecode     False
province         False
amphurcode       False
amphur           False
tamboncode       False
tambon           False
code4            False
name5            False
code9            False
name10           False
short_thai       False
short_english    False
dtype: bool

### ทำการเปลี่ยน type ของข้อมูลให้เป็น type ที่ถูกต้อง

In [ ]:
hospital_list.dtypes # เช็คว่าข้อมูลมี่ความตรงกับที่ต้องการหรือไม่ ## ต้องการให้ hcode เป็น int

hcode             object
name              object
zone_code          int64
zone_name         object
provincecode     float64
province          object
amphurcode       float64
amphur            object
tamboncode       float64
tambon            object
code4            float64
name5             object
code9            float64
name10            object
short_thai        object
short_english     object
dtype: object

In [ ]:
set(hospital_list['hcode']) # เพื่อดูข้อมูลทั้งหมดใน column hcode

{'23732',
 '01035',
 '10734',
 '24230',
 '14994',
 '05969',
 '11261',
 '07559',
 '07184',
 '08784',
 '06508',
 '19352',
 '06982',
 '14007',
 '24102',
 '07990',
 '09453',
 '04855',
 '10735',
 '08755',
 '00520',
 '24205',
 '03323',
 '05478',
 '08949',
 '24021',
 '07390',
 '25169',
 '09060',
 '07709',
 '09729',
 '00396',
 '07078',
 '01655',
 '04933',
 '01207',
 '02375',
 '08139',
 '11531',
 '08958',
 '06056',
 '07366',
 '25589',
 '05248',
 '01859',
 '03615',
 '02272',
 '05967',
 '11996',
 '14958',
 '10234',
 '08409',
 '00423',
 '10571',
 '11523',
 '16135',
 '17911',
 '00224',
 '27347',
 '11325',
 '23983',
 '09032',
 '99774',
 '11086',
 '26246',
 '01321',
 '26284',
 '10539',
 '01481',
 '04703',
 '05559',
 '12006',
 '01936',
 '02526',
 '03287',
 '03359',
 '24822',
 '28747',
 '09784',
 '03932',
 '05516',
 '24800',
 '05124',
 '05290',
 '05921',
 '03803',
 '09973',
 '23602',
 '03796',
 '08270',
 '08758',
 '03355',
 '08416',
 '03744',
 '09272',
 '23973',
 '27446',
 '19367',
 '11457',
 '08900',
 '05629',
 '99951',
 '02979',
 '28346',
 '08724',
 '00016',
 '02528',
 '08323',
 '13673',
 '07270',
 '03397',
 '05365',
 '04044',
 '10209',
 '02705',
 '14294',
 '28846',
 '05260',
 '07054',
 '07079',
 '22536',
 '11541',
 '25706',
 '07595',
 '08083',
 '07074',
 '00605',
 '09035',
 '10446',
 '24946',
 '09578',
 '03427',
 '04886',
 '05068',
 '04309',
 '05970',
 '10019',
 '20033',
 '23234',
 '23661',
 '10687',
 '02203',
 '04147',
 '06090',
 '10145',
 '11082',
 '07311',
 '01200',
 '08111',
 '24804',
 '04585',
 '28708',
 '05255',
 '28226',
 '08524',
 '25755',
 '10865',
 '07386',
 '04027',
 '06632',
 '08140',
 '10897',
 '02385',
 '08363',
 '00655',
 '05728',
 '00507',
 '01238',
 '02151',
 '04823',
 '05460',
 '07033',
 '10890',
 '04645',
 '15177',
 '23971',
 '11490',
 '24541',
 '13922',
 '01112',
 '04140',
 '07738',
 '02425',
 '03415',
 '03983',
 '23472',
 '04894',
 '24269',
 '11582',
 '26308',
 '26357',
 '27626',
 '09871',
 '10726',
 '24477',
 '77730',
 '08968',
 '03281',
 '14965',
 '26732',
 '17133',
 '09946',
 '11728',
 '07767',
 '24351',
 '01306',
 '09835',
 '24487',
 '00863',
 '02106',
 '04376',
 '01360',
 '11036',
 '27654',
 '28117',
 '99897',
 '05098',
 '10024',
 '03527',
 '00281',
 '10410',
 '06406',
 '04010',
 '04422',
 '08692',
 '10100',
 '14220',
 '00454',
 '13864',
 '22604',
 '00913',
 '26104',
 '05224',
 '03516',
 '03675',
 '00484',
 '06161',
 '24396',
 '02296',
 '00121',
 '03793',
 '07607',
 '11608',
 '02204',
 '27425',
 '10582',
 '04620',
 '05127',
 '07925',
 '07830',
 '27440',
 '03559',
 '02184',
 '04294',
 '22742',
 '24656',
 '06125',
 '02280',
 '23875',
 '09607',
 '26170',
 '04643',
 '25028',
 '02137',
 '09157',
 '26223',
 '22881',
 '14111',
 '25025',
 '20018',
 '05258',
 '01354',
 '00545',
 '04375',
 '08070',
 '10922',
 '04921',
 '26599',
 '22750',
 '09220',
 '15049',
 '07073',
 '04844',
 '02750',
 '02692',
 '07416',
 '07507',
 '07180',
 '09846',
 '09610',
 '00427',
 '08593',
 '28252',
 '07290',
 '07929',
 '05097',
 '14210',
 '25189',
 '01044',
 '04305',
 '04385',
 '10974',
 '25939',
 '05170',
 '03925',
 '04164',
 '01685',
 '04725',
 '07179',
 '08783',
 '26661',
 '09932',
 '23724',
 '01873',
 '09105',
 '04315',
 '11979',
 '23233',
 '08898',
 '26336',
 '07039',
 '02776',
 '14572',
 '00458',
 '04707',
 '08264',
 '06558',
 '07901',
 '10458',
 '04094',
 '10372',
 '02699',
 '07037',
 '08562',
 '24592',
 '28295',
 '03563',
 '26929',
 '14352',
 '05641',
 '00952',
 '07856',
 '04104',
 '07643',
 '12486',
 '27538',
 '01911',
 '11024',
 '25910',
 '28008',
 '24780',
 '03429',
 '25756',
 '01209',
 '08157',
 '25438',
 '28591',
 '24146',
 '08406',
 '10587',
 '02339',
 '10838',
 '26243',
 '17925',
 '09046',
 '24400',
 '01621',
 '08262',
 '08893',
 '99863',
 '07627',
 '07694',
 '09352',
 '02470',
 '10052',
 '02644',
 '05110',
 '07298',
 '09690',
 '06619',
 '24296',
 '06241',
 '05121',
 '04613',
 '07956',
 '00748',
 '07586',
 '02380',
 '23947',
 '09537',
 '02320',
 '01749',
 '14804',
 '05769',
 '12191',
 '24553',
 '25904',
 '27019',
 '77608',
 '02423',
 '05008',
 '77692',
 '06223',
 '03620',
 '05167',
 '00415',
 '00456',
 '08088',
 '04348',
 '05512',
 '02275',
 '26877',
 '08269',
 '10813',
 '06581',
 '00690',
 '01152',
 '07966',
 '02293',
 '09886',
 '17161',
 '25752',
 '24073',
 '01246',
 '24438',
 '24971',
 '25909',
 '28473',
 '06712',
 '01124',
 '07141',
 '06831',
 '24643',
 '10806',
 '08918',
 '08179',
 '05909',
 '07097',
 '09901',
 '23849',
 '02018',
 '00182',
 '03772',
 '10130',
 '21614',
 '15146',
 '22341',
 '09646',
 '01802',
 '00011',
 '28696',
 '03340',
 '05953',
 '11573',
 '18562',
 '23852',
 '05585',
 '77726',
 '28646',
 '10181',
 '23550',
 '15001',
 '09300',
 '24229',
 '08810',
 '14003',
 '06057',
 '14280',
 '07639',
 '06013',
 '13890',
 '04912',
 '08220',
 '10452',
 '27364',
 '00098',
 '00370',
 '00107',
 '01666',
 '05724',
 '09434',
 '10836',
 '01832',
 '02144',
 '03005',
 '07068',
 '10976',
 '01854',
 '02777',
 '25824',
 '26585',
 '25806',
 '26765',
 '00760',
 '24024',
 '28340',
 '28698',
 '03102',
 '01821',
 '25684',
 '09559',
 '10439',
 '04671',
 '22863',
 '04799',
 '00944',
 '00954',
 '04048',
 '03870',
 '28212',
 '04397',
 '05077',
 '25889',
 '24648',
 '05597',
 '14367',
 '77745',
 '07566',
 '03225',
 '06563',
 '10373',
 '00188',
 '24049',
 '24845',
 '10362',
 '09861',
 '02549',
 '03334',
 '03943',
 '09480',
 '05215',
 '13680',
 '22804',
 '05062',
 '06646',
 '00178',
 '10839',
 '04085',
 '11534',
 '02266',
 '04882',
 '01263',
 '03553',
 '07053',
 '08511',
 '07085',
 '00747',
 '11184',
 '24100',
 '05183',
 '16130',
 '07583',
 '16636',
 '09917',
 '05690',
 '03223',
 '10943',
 '11800',
 '01357',
 '10936',
 '03939',
 '10831',
 '08347',
 '02795',
 '26039',
 '06814',
 '24871',
 '01805',
 '06676',
 '01485',
 '01242',
 '07807',
 '06838',
 '00461',
 '12126',
 '02815',
 '08252',
 '24342',
 '21341',
 '28825',
 '05053',
 '00800',
 '07724',
 '10400',
 '25919',
 '07791',
 '26248',
 '13772',
 '24922',
 '07365',
 '09150',
 '15048',
 '01659',
 '11096',
 '26971',
 '05639',
 '26948',
 '07705',
 '04120',
 '03487',
 '14151',
 '07615',
 '25159',
 '09034',
 '15145',
 '01850',
 '14221',
 '05076',
 '05580',
 '08970',
 '01652',
 '07031',
 '00996',
 '08458',
 '00135',
 '08780',
 '01515',
 '04393',
 '77650',
 '08415',
 '11159',
 '02767',
 '05735',
 '14252',
 '03231',
 '24338',
 '01910',
 '08959',
 '09111',
 '10568',
 '26617',
 '25155',
 '24507',
 '02734',
 '01628',
 '00351',
 '05504',
 '14972',
 '05692',
 '07495',
 '01141',
 '04632',
 '24511',
 '24123',
 '00951',
 '14127',
 '28171',
 '24841',
 '07092',
 '05152',
 '05052',
 '06802',
 '08369',
 '08494',
 '08021',
 '08478',
 '02858',
 '23020',
 '09590',
 '02146',
 '06276',
 '12078',
 '23950',
 '25031',
 '01311',
 '04239',
 '04304',
 '01758',
 '07497',
 '05308',
 '02576',
 '07126',
 '08193',
 '28277',
 '09889',
 '02159',
 '27038',
 '09167',
 '05695',
 '25921',
 '19527',
 '03382',
 '12139',
 '07668',
 '06297',
 '02489',
 '28089',
 '00767',
 '02100',
 '01479',
 '06625',
 '08595',
 '24769',
 '02701',
 '28130',
 '10995',
 '28016',
 '05264',
 '08081',
 '09420',
 '01626',
 '03985',
 '08116',
 '09440',
 '22788',
 '24566',
 '11009',
 '24776',
 '02591',
 '05163',
 '05706',
 '06689',
 '06879',
 '13903',
 '28648',
 '05283',
 '01557',
 '23919',
 '03721',
 '03211',
 '24362',
 '05207',
 '99946',
 '01624',
 '08658',
 '05148',
 '99998',
 '03412',
 '00127',
 '07093',
 '08574',
 '02190',
 '28255',
 '07190',
 '02148',
 '08869',
 '00495',
 '04125',
 '07620',
 '13946',
 '25665',
 '04689',
 '22155',
 '06531',
 '05171',
 '07105',
 '28284',
 '01429',
 '06122',
 '24158',
 '01839',
 '03905',
 '03663',
 '16084',
 '09268',
 '09282',
 '06682',
 '00658',
 '00960',
 '02563',
 '25084',
 '05061',
 '05026',
 '10132',
 '04069',
 '10588',
 '22831',
 '02757',
 '26135',
 '01019',
 '02972',
 '05649',
 '22799',
 '27470',
 '06392',
 '09967',
 '27782',
 '10573',
 '06445',
 '26271',
 '11850',
 '09230',
 '06081',
 '05745',
 '01014',
 '02900',
 '03045',
 '07612',
 '14004',
 '04644',
 '25104',
 '05904',
 '03362',
 '05403',
 '07884',
 '06599',
 '00198',
 '14427',
 '02262',
 '01731',
 '00974',
 '23192',
 '11992',
 '08785',
 '05638',
 '05607',
 '09442',
 '11001',
 '04472',
 '18220',
 '04400',
 '07032',
 '06183',
 '01241',
 '02782',
 '14347',
 '07561',
 '15122',
 '04723',
 '06696',
 '11271',
 '01344',
 '02322',
 '02359',
 '01345',
 '03575',
 '01390',
 '01615',
 '05396',
 '05583',
 '02722',
 '08288',
 '28202',
 '13855',
 '09447',
 '28155',
 '28265',
 '25074',
 '00533',
 '13818',
 '27743',
 '08749',
 '26268',
 '06116',
 '06371',
 '08132',
 '07492',
 '04296',
 '11121',
 '03960',
 '10057',
 '23938',
 '13859',
 '16016',
 '77756',
 '10129',
 '01757',
 '07908',
 '08809',
 '25816',
 '04883',
 '01935',
 '03084',
 '04363',
 '06115',
 '01309',
 '21747',
 '08856',
 '07637',
 '02731',
 '05961',
 '15677',
 '25917',
 '07568',
 '13676',
 '10749',
 '08919',
 '10149',
 '24446',
 '08710',
 '13997',
 '02130',
 '02936',
 '26816',
 '02694',
 '21943',
 '23507',
 '03533',
 '10979',
 '03853',
 '26142',
 '07866',
 '01662',
 '00350',
 '09691',
 '03869',
 '27424',
 '02023',
 '11282',
 '09845',
 '08301',
 '06845',
 '00980',
 '05382',
 '07927',
 '13670',
 '10642',
 '07289',
 '07453',
 '05852',
 '03195',
 '07403',
 '07616',
 '08050',
 '24264',
 '99813',
 '24936',
 '04307',
 '09801',
 '06485',
 '00707',
 '16938',
 '26646',
 '15341',
 '06420',
 '03274',
 '07501',
 '10930',
 '24479',
 '05324',
 '25457',
 '02650',
 '19482',
 '00704',
 '01927',
 '25021',
 '09312',
 '13766',
 '05211',
 '25113',
 '00730',
 '04232',
 '28047',
 '21485',
 '27059',
 '22000',
 '05983',
 '09821',
 '04112',
 '24025',
 '03659',
 '27636',
 '07770',
 '08344',
 '28669',
 '05722',
 '04191',
 '25027',
 '11631',
 '06925',
 '03907',
 '01294',
 '14261',
 '26259',
 '10223',
 '25688',
 '23686',
 '08933',
 '10356',
 '06850',
 '07294',
 '25880',
 '01378',
 '25739',
 '13685',
 '04992',
 '11155',
 '02032',
 '24281',
 '00334',
 '02547',
 '27732',
 '00407',
 '08045',
 '04118',
 '03652',
 '06203',
 '01453',
 '28175',
 '28681',
 '10796',
 '25957',
 '28410',
 '10791',
 '00554',
 '04274',
 '25868',
 '28763',
 '12254',
 '06981',
 ...}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข 5 หลัก เท่ากับ ข้อมูลว่าง

In [ ]:
hospital_list['hcode'].replace({'2475x':None,'2560x':None},inplace=True)

In [ ]:
hospital_list_drop = hospital_list.dropna() # ทำการ drop ค่าว่างออก 
hospital_list_drop # แสดงผลลัพธ์

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR

In [ ]:
hospital_list_drop['hcode'] = hospital_list_drop['hcode'].astype(int) # เปลี่ยนข้อมูลจาก string เป็น int ในคอลัมน์ hcode

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## ตาราง hospital_list.xlsx หลังจัดการข้อมูลแล้ว

In [ ]:
hospital_list_drop # ดูตาราง hospital_list.xlsx หลังจัดการข้อมูลแล้ว

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,1,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,สป,SPK
1,2,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,นบ,NBI
2,3,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,ปท,PTE
3,4,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อย,AYA
4,5,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR

# รวมข้อมูลทั้งสองตารางเข้าด้วยกัน

ไฟล์ alldb.csv และ hospital_list.xlsx สามารถถูกเชื่อมโยงกันโดย site ในไฟล์ alldb.csv คือ hcode ในไฟล์ hospital_list.xlsx

In [ ]:
merged = alldb_drop5.merge(hospital_list_drop,how='left',left_on='site',right_on='hcode') 
merged

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13-08-39,มีตะกอน,0,0,5194.0,...,9.0,หนองพอก,4.0,กกโพธิ์,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
1,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14-22-22,ปกติ (เหลืองใส),0,0,4999.0,...,6.0,บรบือ,19.0,หนองโก,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,มค,MKM
2,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,0,13777.0,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
3,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14-46-08,ปกติ (เหลืองใส),4,1,6307.0,...,7.0,พิชัย,2.0,บ้านดารา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
4,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15-27-45,ปกติ (เหลืองใส),4,1,5328.0,...,18.0,ฆ้องชัย,3.0,โคกสะอาด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37961,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37962,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37963,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37964,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37965,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## ตรวจสอบค่า Missing

In [ ]:
merged.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

user             False
RowKey           False
date             False
phone            False
site             False
time             False
urine            False
ov               False
PartitionKey     False
hcode             True
name              True
zone_code         True
zone_name         True
provincecode      True
province          True
amphurcode        True
amphur            True
tamboncode        True
tambon            True
code4             True
name5             True
code9             True
name10            True
short_thai        True
short_english     True
dtype: bool

## ใช้ .dropna ซึ่งจะใช้ตัดแถวข้อมูลที่มีค่า missing

In [ ]:
merged_drop = merged.dropna() #ใช้ dropna เพื่อต้องการลบข้อมูลทั้งแถวออกเมื่อมีคอลัมน์ใดคอลัมน์หนึ่งเป็น NaN
merged_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13-08-39,มีตะกอน,0,0,5194.0,...,9.0,หนองพอก,4.0,กกโพธิ์,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
1,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14-22-22,ปกติ (เหลืองใส),0,0,4999.0,...,6.0,บรบือ,19.0,หนองโก,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,มค,MKM
2,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,0,13777.0,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
3,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14-46-08,ปกติ (เหลืองใส),4,1,6307.0,...,7.0,พิชัย,2.0,บ้านดารา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
4,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15-27-45,ปกติ (เหลืองใส),4,1,5328.0,...,18.0,ฆ้องชัย,3.0,โคกสะอาด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37949,76331,pvpiawlexb.png,2022-02-23,Samsung SM-G965U,5258,15-32-53,ปกติ (เหลืองใส),1,92,5258.0,...,14.0,อาจสามารถ,9.0,ขี้เหล็ก,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
37950,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14-31-01,ปกติ (เหลืองใส),2,976,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37951,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14-30-21,ปกติ (เหลืองใส),2,983,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37952,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37953,99771,E04D3D60-B916-40A1-AE77-91CCD89DD084,2022-03-31,"iPhone10,5",5396,11-03-40,ปกติ (เหลืองใส),0,99771,5396.0,...,10.0,คำม่วง,9.0,เนินยาง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN

In [ ]:
merged_drop.shape #ตรวจสอบขนาดของตารางใหม่

(37892, 25)

In [ ]:
removes = merged.shape[0] - merged_drop.shape[0]
print(f'size before drop = {merged.shape[0]}')
print(f'size after drop = {merged_drop.shape[0]}')
print(f'% from drop = {(removes/merged.shape[0])*100}')
 # จากการคำนวณพบว่ามีข้อมูลที่หายไปเพียงแค่ 0.195% ดังนั้น จึงสามารถใช้การ .dropna() ได ้

size before drop = 37966
size after drop = 37892
% from drop = 0.19491123636938312

## ตรวจสอบเอาแต่ 5 หลัก

user & site & PartitionKey

In [ ]:
TF=list()
for each_row in merged_drop.iterrows():
    if 9999< each_row[1]['site'] <100000:
        TF.append(True)
    else:
        TF.append(False)

merged_drop = merged_drop[TF]
merged_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
2,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,0,13777.0,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
15,18041,3FBB8FE8-F3EE-4307-8E01-406D7A1B2488,2022-03-28,"iPhone14,3",11158,10-12-10,ปกติ (เหลืองใส),2,1,11158.0,...,2.0,ตรอน,2.0,บ้านแก่ง,7.0,โรงพยาบาลชุมชน,22.00000,2.2 ทุติยภูมิระดับกลาง,อต,UTT
20,27096,4D1F5F3E-E557-4F64-BEB7-D4FBCADFA43F,2022-03-30,"iPhone14,5",11160,14-56-46,ปกติ (เหลืองใส),0,1,11160.0,...,4.0,น้ำปาด,1.0,แสนตอ,7.0,โรงพยาบาลชุมชน,22.00000,2.2 ทุติยภูมิระดับกลาง,อต,UTT
22,1,540553CD-1EAB-4252-A64E-F96A8390CE10,2022-03-28,"iPad13,6",10360,12-24-15,ปกติ (เหลืองใส),2,1,10360.0,...,4.0,น้ำปาด,5.0,น้ำไผ่,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
30,8370,6E4E96B0-5DE4-456F-8088-A1FEF6E3F468,2022-03-23,"iPhone10,5",13966,10-42-14,ปกติ (เหลืองใส),1,1,13966.0,...,14.0,ห้วยผึ้ง,2.0,ไค้นุ่น,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37947,68768,899A7591-50C9-40BC-9746-A831A08DE980,2022-03-24,"iPhone11,8",11088,10-29-37,ปกติ (เหลืองใส),0,90470,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37948,68768,BF39F27C-1B43-4C97-A034-D7A579BED2B6,2022-03-24,"iPhone11,8",11088,10-24-40,ปกติ (เหลืองใส),1,91123,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37950,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14-31-01,ปกติ (เหลืองใส),2,976,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37951,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14-30-21,ปกติ (เหลืองใส),2,983,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37952,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN

In [ ]:
TF=list()
for each_row in merged_drop.iterrows():
    if 9999< each_row[1]['user'] <100000:
        TF.append(True)
    else:
        TF.append(False)

merged_drop = merged_drop[TF]
merged_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
15,18041,3FBB8FE8-F3EE-4307-8E01-406D7A1B2488,2022-03-28,"iPhone14,3",11158,10-12-10,ปกติ (เหลืองใส),2,1,11158.0,...,2.0,ตรอน,2.0,บ้านแก่ง,7.0,โรงพยาบาลชุมชน,22.00000,2.2 ทุติยภูมิระดับกลาง,อต,UTT
20,27096,4D1F5F3E-E557-4F64-BEB7-D4FBCADFA43F,2022-03-30,"iPhone14,5",11160,14-56-46,ปกติ (เหลืองใส),0,1,11160.0,...,4.0,น้ำปาด,1.0,แสนตอ,7.0,โรงพยาบาลชุมชน,22.00000,2.2 ทุติยภูมิระดับกลาง,อต,UTT
33,76486,73F5F082-6877-4C1F-971D-0485621C1D94,2022-03-18,"iPhone12,1",13949,15-09-50,ปกติ (เหลืองใส),2,1,13949.0,...,6.0,พนมไพร,7.0,โคกสว่าง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,รอ,RET
36,51235,76E4E69A-2C96-4B9D-BF7E-B97D64D3277D,2022-03-21,"iPhone13,3",13987,11-21-56,ปกติ (เหลืองใส),0,1,13987.0,...,3.0,แม่แจ่ม,8.0,กองแขก,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,ชม,CMI
40,61813,7EED02D6-47C8-4AEE-9B88-5DFBD7836508,2022-03-03,"iPhone12,3",13777,15-59-20,มีเม็ดเลือดแดง,2,1,13777.0,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37947,68768,899A7591-50C9-40BC-9746-A831A08DE980,2022-03-24,"iPhone11,8",11088,10-29-37,ปกติ (เหลืองใส),0,90470,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37948,68768,BF39F27C-1B43-4C97-A034-D7A579BED2B6,2022-03-24,"iPhone11,8",11088,10-24-40,ปกติ (เหลืองใส),1,91123,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37950,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14-31-01,ปกติ (เหลืองใส),2,976,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37951,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14-30-21,ปกติ (เหลืองใส),2,983,28017.0,...,16.0,นาคู,1.0,นาคู,7.0,โรงพยาบาลชุมชน,10.84859,ไม่ระบุ,กส,KSN
37952,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN

In [ ]:
TF=list()
for each_row in merged_drop.iterrows():
    if 9999< each_row[1]['PartitionKey'] <100000:
        TF.append(True)
    else:
        TF.append(False)

merged_drop = merged_drop[TF]
merged_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
37792,26462,6C55B69E-8E4C-46B0-B0D7-4754A529EE3C,2022-03-21,"iPhone13,4",11069,10-08-34,ปกติ (เหลืองใส),4,10961,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37793,26462,eehzjpxnjw.png,2022-03-22,OPPO CPH1819,11069,10-06-17,ขุ่น,1,10962,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37794,26462,cjukggkdgy.png,2022-03-22,OPPO CPH1819,11069,09-33-02,ใส่เป็นน้ำเปล่า,0,10963,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37795,26462,wpnaiylzxi.png,2022-03-22,Vivo V2050,11069,09-31-42,ปกติ (เหลืองใส),0,10964,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37796,26462,pnqumypemv.png,2022-03-22,Vivo V2050,11069,09-49-16,ปกติ (เหลืองใส),3,10965,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37945,68768,40A5A14E-33E1-4246-95A7-9757D184BC39,2022-03-24,"iPhone11,8",11088,10-31-17,ปกติ (เหลืองใส),1,88432,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37946,68768,B7F36631-D2C4-4EB5-852D-790BFAFDFD71,2022-03-24,"iPhone11,8",11088,10-30-22,ปกติ (เหลืองใส),2,89170,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37947,68768,899A7591-50C9-40BC-9746-A831A08DE980,2022-03-24,"iPhone11,8",11088,10-29-37,ปกติ (เหลืองใส),0,90470,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37948,68768,BF39F27C-1B43-4C97-A034-D7A579BED2B6,2022-03-24,"iPhone11,8",11088,10-24-40,ปกติ (เหลืองใส),1,91123,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37952,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN

# ตารางข้อมูลที่จะนำมาใช้

In [ ]:
merged_drop # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
37792,26462,6C55B69E-8E4C-46B0-B0D7-4754A529EE3C,2022-03-21,"iPhone13,4",11069,10-08-34,ปกติ (เหลืองใส),4,10961,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37793,26462,eehzjpxnjw.png,2022-03-22,OPPO CPH1819,11069,10-06-17,ขุ่น,1,10962,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37794,26462,cjukggkdgy.png,2022-03-22,OPPO CPH1819,11069,09-33-02,ใส่เป็นน้ำเปล่า,0,10963,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37795,26462,wpnaiylzxi.png,2022-03-22,Vivo V2050,11069,09-31-42,ปกติ (เหลืองใส),0,10964,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37796,26462,pnqumypemv.png,2022-03-22,Vivo V2050,11069,09-49-16,ปกติ (เหลืองใส),3,10965,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37945,68768,40A5A14E-33E1-4246-95A7-9757D184BC39,2022-03-24,"iPhone11,8",11088,10-31-17,ปกติ (เหลืองใส),1,88432,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37946,68768,B7F36631-D2C4-4EB5-852D-790BFAFDFD71,2022-03-24,"iPhone11,8",11088,10-30-22,ปกติ (เหลืองใส),2,89170,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37947,68768,899A7591-50C9-40BC-9746-A831A08DE980,2022-03-24,"iPhone11,8",11088,10-29-37,ปกติ (เหลืองใส),0,90470,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37948,68768,BF39F27C-1B43-4C97-A034-D7A579BED2B6,2022-03-24,"iPhone11,8",11088,10-24-40,ปกติ (เหลืองใส),1,91123,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37952,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN

In [ ]:
merged_drop.isnull().any()

user             False
RowKey           False
date             False
phone            False
site             False
time             False
urine            False
ov               False
PartitionKey     False
hcode            False
name             False
zone_code        False
zone_name        False
provincecode     False
province         False
amphurcode       False
amphur           False
tamboncode       False
tambon           False
code4            False
name5            False
code9            False
name10           False
short_thai       False
short_english    False
dtype: bool

## จำนวนการตรวจในแต่ละพื้นที่

In [ ]:
Province = merged_drop.groupby('province').count()
Province

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาฬสินธุ์,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
นครพนม,16,16,16,16,16,16,16,16,16,16,...,16,16,16,16,16,16,16,16,16,16
ร้อยเอ็ด,47,47,47,47,47,47,47,47,47,47,...,47,47,47,47,47,47,47,47,47,47
อุตรดิตถ์,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [ ]:
Province_new = Province.iloc[:,:1]
Province_new

           user
province
กาฬสินธุ์     8
นครพนม       16
ร้อยเอ็ด     47
อุตรดิตถ์     1

In [ ]:
P_noindex = Province_new.reset_index()
P_noindex

    province  user
0  กาฬสินธุ์     8
1     นครพนม    16
2   ร้อยเอ็ด    47
3  อุตรดิตถ์     1

In [ ]:
pv = {'user':'จำนวนการตรวจในแต่ละพื้นที่'}
# call rename () method
P_noindex.rename(columns=pv,
          inplace=True)
P_noindex

    province  จำนวนการตรวจในแต่ละพื้นที่
0  กาฬสินธุ์                           8
1     นครพนม                          16
2   ร้อยเอ็ด                          47
3  อุตรดิตถ์                           1

## จำนวนที่พบโรค

### ระดับ 0

In [ ]:
ov_0 = merged_drop[merged_drop['ov']== 0]
ov_0

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
37794,26462,cjukggkdgy.png,2022-03-22,OPPO CPH1819,11069,09-33-02,ใส่เป็นน้ำเปล่า,0,10963,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37795,26462,wpnaiylzxi.png,2022-03-22,Vivo V2050,11069,09-31-42,ปกติ (เหลืองใส),0,10964,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37797,26462,rkkutomafv.png,2022-03-22,Vivo V2050,11069,09-12-19,ใส่เป็นน้ำเปล่า,0,10966,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37798,26462,emcshsfjwi.png,2022-03-22,Vivo V2050,11069,09-32-32,ขุ่น,0,10967,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37802,26462,lybdixwhaq.png,2022-03-22,Vivo V2050,11069,11-40-37,ปกติ (เหลืองใส),0,10971,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37803,26462,alevoqyzru.png,2022-03-22,OPPO CPH1819,11069,10-59-51,ปกติ (เหลืองใส),0,10972,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37804,26462,gukjamcmkc.png,2022-03-22,OPPO CPH1819,11069,10-57-27,ปกติ (เหลืองใส),0,10972,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37805,26462,vdnnojfhka.png,2022-03-22,Vivo V2050,11069,10-56-14,ปกติ (เหลืองใส),0,10973,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37806,26462,byyhydmqlz.png,2022-03-21,Vivo 1920,11069,13-57-55,ปกติ (เหลืองใส),0,10974,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37809,26462,vmenrqvavo.png,2022-03-21,Vivo 1920,11069,10-27-48,ใส่เป็นน้ำเปล่า,0,10977,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37811,26462,fezuexxmnv.png,2022-03-21,Vivo V2050,11069,09-48-21,ปกติ (เหลืองใส),0,10979,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37813,26462,CF0A47B9-752D-4FC9-A96F-DDC08AAA2247,2022-03-21,"iPhone13,4",11069,09-47-58,ปกติ (เหลืองใส),0,10981,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37815,26462,lyqpzibhsh.png,2022-03-21,Vivo 1920,11069,11-52-33,ปกติ (เหลืองใส),0,10983,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37817,26462,zjcmumrvpp.png,2022-03-22,Vivo V2050,11069,09-11-13,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",0,10985,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37819,26462,uvjpltipuw.png,2022-03-22,Vivo 1920,11069,13-42-14,ปกติ (เหลืองใส),0,10987,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37820,26462,jvbisyqqsu.png,2022-03-21,Vivo V2050,11069,10-53-58,ปกติ (เหลืองใส),0,10988,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37821,26462,vzenektyaa.png,2022-03-22,Vivo 1920,11069,13-41-49,ปกติ (เหลืองใส),0,10989,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37822,26462,edquaqyuia.png,2022-03-21,Vivo 1920,11069,10-55-13,ปกติ (เหลืองใส),0,10990,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37823,26462,9B2969BF-F999-43AD-A082-AFFF7615AEC7,2022-03-21,"iPhone13,4",11069,10-56-13,ปกติ (เหลืองใส),0,10991,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37824,26462,zkddsdiwzw.png,2022-03-21,Vivo 1920,11069,14-17-08,ปกติ (เหลืองใส),0,10992,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37825,26462,jajxlriszt.png,2022-03-22,Vivo 1920,11069,14-01-37,ปกติ (เหลืองใส),0,10993,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37826,26462,vqkgeemfhy.png,2022-03-22,Vivo 1920,11069,14-02-37,มีตะกอน,0,10993,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37827,26462,vcubzchjxv.png,2022-03-21,Vivo 1920,11069,14-18-41,ปกติ (เหลืองใส),0,10995,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37829,26462,AD576EF3-4128-4DCD-93CB-63494C69F326,2022-03-22,"iPhone13,4",11069,13-39-56,ปกติ (เหลืองใส),0,10997,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37830,26462,qukpkgoxfp.png,2022-03-21,Vivo 1920,11069,11-54-17,ปกติ (เหลืองใส),0,10998,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37832,26462,dghzdcrtay.png,2022-03-21,Vivo 1920,11069,11-51-32,มีตะกอน,0,11000,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37837,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,"iPhone13,4",11069,14-17-46,ปกติ (เหลืองใส),0,11007,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37854,80880,4648F57F-E9AD-468B-9E56-E2844626C772,2022-03-30,"iPhone12,1",11163,09-17-58,ปกติ (เหลืองใส),0,11163,11163.0,...,7.0,พิชัย,1.0,ในเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,อต,UTT
37881,11177,frvgwohzcx.png,2022-02-27,Samsung SM-G998B,11111,12-47-12,ปกติ (เหลืองใส),0,44147,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37940,68768,5CF89F00-A898-4BB6-B42A-06CC7EBD3114,2022-03-24,"iPhone11,8",11088,10-30-56,ปกติ (เหลืองใส),0,72093,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37943,68768,C38927EF-F10C-4A5D-A7CA-E22DC7A70BAD,2022-03-24,"iPhone11,8",11088,10-31-40,ปกติ (เหลืองใส),0,87606,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37944,68768,7B050412-1100-4397-9688-175B92B851C9,2022-03-24,"iPhone11,8",11088,10-26-19,ปกติ (เหลืองใส),0,87720,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37947,68768,899A7591-50C9-40BC-9746-A831A08DE980,2022-03-24,"iPhone11,8",11088,10-29-37,ปกติ (เหลืองใส),0,90470,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN

In [ ]:
ov_0 = ov_0.groupby('province').count()
ov_0

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาฬสินธุ์,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
นครพนม,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ร้อยเอ็ด,27,27,27,27,27,27,27,27,27,27,...,27,27,27,27,27,27,27,27,27,27
อุตรดิตถ์,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [ ]:
ov_0_new = ov_0.iloc[:,:1]
ov_0_new

           user
province
กาฬสินธุ์     4
นครพนม        1
ร้อยเอ็ด     27
อุตรดิตถ์     1

In [ ]:
ov_0_noindex = ov_0_new.reset_index()
ov_0_noindex

    province  user
0  กาฬสินธุ์     4
1     นครพนม     1
2   ร้อยเอ็ด    27
3  อุตรดิตถ์     1

In [ ]:
o0 = {'user':'จำนวนที่พบโรค ระดับ 0'}
# call rename () method
ov_0_noindex.rename(columns=o0,
          inplace=True)
ov_0_noindex

    province  จำนวนที่พบโรค ระดับ 0
0  กาฬสินธุ์                      4
1     นครพนม                      1
2   ร้อยเอ็ด                     27
3  อุตรดิตถ์                      1

### ระดับ 1

In [ ]:
ov_1 = merged_drop[merged_drop['ov']== 1]
ov_1

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
37793,26462,eehzjpxnjw.png,2022-03-22,OPPO CPH1819,11069,10-06-17,ขุ่น,1,10962,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37801,26462,bfceftfurl.png,2022-03-22,OPPO CPH1819,11069,10-08-24,ปกติ (เหลืองใส),1,10970,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37808,26462,sxzmzrsmyf.png,2022-03-21,Vivo 1920,11069,10-08-48,ปกติ (เหลืองใส),1,10976,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37810,26462,9438FD60-2EED-4FC1-BDE0-3AE05A3317BF,2022-03-21,"iPhone13,4",11069,09-49-51,ปกติ (เหลืองใส),1,10978,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37812,26462,fvygcngevl.png,2022-03-21,Vivo 1920,11069,10-29-01,ปกติ (เหลืองใส),1,10980,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37816,26462,jdmhexxudc.png,2022-03-21,Vivo 1920,11069,10-54-05,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",1,10984,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37831,26462,10CBBBC5-3BAC-4927-93B1-24918834B166,2022-03-22,"iPhone13,4",11069,14-01-18,ปกติ (เหลืองใส),1,10999,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37834,26462,ieotqfnqcq.png,2022-03-22,Vivo 1920,11069,14-03-12,ปกติ (เหลืองใส),1,11003,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37838,26462,vdxxgljykj.png,2022-03-21,Vivo V2050,11069,10-54-49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",1,11008,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37840,11111,2B2C2FAA-3007-46DF-950D-443F3AEB1C98,2022-02-27,"iPhone13,4",11111,19-04-40,สีเหลืองส้ม (ผิดปกติ),1,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37847,11111,C4DAA911-AC32-413D-99DC-880D598208B4,2022-03-07,"iPhone13,4",11111,11-45-19,มีตะกอน,1,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37850,11111,EF66DB5E-518F-43A4-A071-4548470CDC2C,2022-03-10,"iPhone13,4",11111,19-22-23,มีตะกอน,1,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37945,68768,40A5A14E-33E1-4246-95A7-9757D184BC39,2022-03-24,"iPhone11,8",11088,10-31-17,ปกติ (เหลืองใส),1,88432,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37948,68768,BF39F27C-1B43-4C97-A034-D7A579BED2B6,2022-03-24,"iPhone11,8",11088,10-24-40,ปกติ (เหลืองใส),1,91123,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN
37952,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN

In [ ]:
ov_1 = ov_1.groupby('province').count()
ov_1

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาฬสินธุ์,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
นครพนม,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
ร้อยเอ็ด,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9

In [ ]:
ov_1_new = ov_1.iloc[:,:1]
ov_1_new

           user
province
กาฬสินธุ์     3
นครพนม        3
ร้อยเอ็ด      9

In [ ]:
ov_1_noindex = ov_1_new.reset_index()
ov_1_noindex

    province  user
0  กาฬสินธุ์     3
1     นครพนม     3
2   ร้อยเอ็ด     9

In [ ]:
o1 = {'user':'จำนวนที่พบโรค ระดับ 1'}
# call rename () method
ov_1_noindex.rename(columns=o1,
          inplace=True)
ov_1_noindex

    province  จำนวนที่พบโรค ระดับ 1
0  กาฬสินธุ์                      3
1     นครพนม                      3
2   ร้อยเอ็ด                      9

### ระดับ 2

In [ ]:
ov_2 = merged_drop[merged_drop['ov']== 2]
ov_2

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
37799,26462,wgxurysjec.png,2022-03-22,OPPO CPH1819,11069,09-13-07,ขุ่น,2,10968,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37800,26462,vanquopswi.png,2022-03-22,Vivo V2050,11069,09-48-29,ปกติ (เหลืองใส),2,10969,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37828,26462,3340619E-D3F4-4090-B3D0-B6CDF1D9F370,2022-03-21,"iPhone13,4",11069,13-58-41,มีตะกอน,2,10996,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37835,26462,cywpeqziic.png,2022-03-21,Vivo 1920,11069,13-59-04,ปกติ (เหลืองใส),2,11005,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37836,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,"iPhone13,4",11069,13-41-47,ปกติ (เหลืองใส),2,11006,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37852,11111,FF5EA455-7093-4F87-B00C-CD84B563F7DE,2022-02-27,"iPhone13,4",11111,19-23-25,สีเหลืองส้ม (ผิดปกติ),2,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37872,11111,willjicqkd.png,2022-03-07,Samsung SM-G998B,11111,11-58-03,สีฟ้า หรือน้ำเงิน,2,22222,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37946,68768,B7F36631-D2C4-4EB5-852D-790BFAFDFD71,2022-03-24,"iPhone11,8",11088,10-30-22,ปกติ (เหลืองใส),2,89170,11088.0,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,กส,KSN

In [ ]:
ov_2 = ov_2.groupby('province').count()
ov_2

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาฬสินธุ์,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
นครพนม,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ร้อยเอ็ด,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5

In [ ]:
ov_2_new = ov_2.iloc[:,:1]
ov_2_new

           user
province
กาฬสินธุ์     1
นครพนม        2
ร้อยเอ็ด      5

In [ ]:
ov_2_noindex = ov_2_new.reset_index()
ov_2_noindex

    province  user
0  กาฬสินธุ์     1
1     นครพนม     2
2   ร้อยเอ็ด     5

In [ ]:
o2 = {'user':'จำนวนที่พบโรค ระดับ 2'}
# call rename () method
ov_2_noindex.rename(columns=o2,
          inplace=True)
ov_2_noindex

    province  จำนวนที่พบโรค ระดับ 2
0  กาฬสินธุ์                      1
1     นครพนม                      2
2   ร้อยเอ็ด                      5

### ระดับ 3

In [ ]:
ov_3 = merged_drop[merged_drop['ov']== 3]
ov_3

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
37796,26462,pnqumypemv.png,2022-03-22,Vivo V2050,11069,09-49-16,ปกติ (เหลืองใส),3,10965,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37814,10982,D713CB5A-AE59-4FA7-9387-39C0B766120A,2022-03-21,"iPhone13,4",11069,10-30-00,ปกติ (เหลืองใส),3,10982,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37839,11111,1CE25D88-8ED6-46C8-8EBD-DE2D5F89EB7F,2022-02-27,"iPhone13,4",11111,19-21-47,มีเม็ดเลือดแดง,3,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37844,11111,97F01805-4C0F-4478-9D0F-FF6A5A0B45B5,2022-02-27,"iPhone13,4",11111,19-22-48,มีตะกอน,3,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37845,11111,A6D69321-ED1F-457D-B615-6F4C1F600C01,2022-02-27,"iPhone13,4",11111,18-50-25,มีเม็ดเลือดแดง,3,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37848,11111,D8D8751F-7259-429A-98AE-431346C74317,2022-02-27,"iPhone13,4",11111,19-14-58,มีเม็ดเลือดแดง,3,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37849,11111,E2371023-E100-4255-BB0A-9314D26674FC,2022-02-27,"iPhone13,4",11111,19-19-43,มีเม็ดเลือดแดง,3,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37851,11111,FA4AB630-0269-4445-8439-D22139951BC1,2022-03-07,"iPhone13,4",11111,11-49-54,มีเม็ดเลือดแดง,3,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37853,11111,mnoycjbkar.png,2022-03-07,Samsung SM-G998B,11111,11-57-35,ปกติ (เหลืองใส),3,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM

In [ ]:
ov_3 = ov_3.groupby('province').count()
ov_3

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
นครพนม,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
ร้อยเอ็ด,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

In [ ]:
ov_3_new = ov_3.iloc[:,:1]
ov_3_new

          user
province
นครพนม       7
ร้อยเอ็ด     2

In [ ]:
ov_3_noindex = ov_3_new.reset_index()
ov_3_noindex

   province  user
0    นครพนม     7
1  ร้อยเอ็ด     2

In [ ]:
o3 = {'user':'จำนวนที่พบโรค ระดับ 3'}
# call rename () method
ov_3_noindex.rename(columns=o3,
          inplace=True)
ov_3_noindex

   province  จำนวนที่พบโรค ระดับ 3
0    นครพนม                      7
1  ร้อยเอ็ด                      2

### ระดับ 4

In [ ]:
ov_4 = merged_drop[merged_drop['ov']== 4]
ov_4

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
37792,26462,6C55B69E-8E4C-46B0-B0D7-4754A529EE3C,2022-03-21,"iPhone13,4",11069,10-08-34,ปกติ (เหลืองใส),4,10961,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37807,26462,5CB6F5EB-324D-448C-84AD-C9D48B23684E,2022-03-22,"iPhone13,4",11069,14-04-13,ปกติ (เหลืองใส),4,10975,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37818,26462,iwwwnyrmtz.png,2022-03-22,OPPO CPH1819,11069,09-32-10,ปกติ (เหลืองใส),4,10986,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37833,26462,rryhjijyje.png,2022-03-21,Vivo V2050,11069,11-52-34,มีเม็ดเลือดแดง,4,11002,11069.0,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37842,11111,6F95D193-3E3D-452D-99BD-705D0271030F,2022-02-27,"iPhone13,4",11111,18-53-44,มีเม็ดเลือดแดง,4,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37843,11111,7BB0E403-CEC8-4860-A4B9-C9487B18CDC5,2022-02-27,"iPhone13,4",11111,19-23-10,ใสเป็นน้ำเปล่า,4,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM
37846,11111,AD73A95C-3C91-42DA-85AC-00AE0524FAEE,2022-02-27,"iPhone13,4",11111,19-01-11,มีเม็ดเลือดแดง,4,11111,11111.0,...,9.0,นาหว้า,1.0,นาหว้า,7.0,โรงพยาบาลชุมชน,21.0,2.1 ทุติยภูมิระดับต้น,นพ,NPM

In [ ]:
ov_4 = ov_4.groupby('province').count()
ov_4_new = ov_4.iloc[:,:1]
ov_4_noindex = ov_4_new.reset_index()
ov_4_noindex

   province  user
0    นครพนม     3
1  ร้อยเอ็ด     4

In [ ]:
o4 = {'user':'จำนวนที่พบโรค ระดับ 4'}
# call rename () method
ov_4_noindex.rename(columns=o4,
          inplace=True)
ov_4_noindex

   province  จำนวนที่พบโรค ระดับ 4
0    นครพนม                      3
1  ร้อยเอ็ด                      4

### รวมตาราง 4 ตารางเข้าด้วยกัน

In [ ]:
ov_merge = ov_0_noindex.merge(ov_1_noindex,how='left',left_on='province',right_on='province') 
ov_merge = ov_merge.merge(ov_2_noindex,how='left',left_on='province',right_on='province') 
ov_merge = ov_merge.merge(ov_3_noindex,how='left',left_on='province',right_on='province') 
ov_merge = ov_merge.merge(ov_4_noindex,how='left',left_on='province',right_on='province') 
ov_merge

,province,จำนวนที่พบโรค ระดับ 0,จำนวนที่พบโรค ระดับ 1,จำนวนที่พบโรค ระดับ 2,จำนวนที่พบโรค ระดับ 3,จำนวนที่พบโรค ระดับ 4
0,กาฬสินธุ์,4,3.0,1.0,NaN,NaN
1,นครพนม,1,3.0,2.0,7.0,3.0
2,ร้อยเอ็ด,27,9.0,5.0,2.0,4.0
3,อุตรดิตถ์,1,NaN,NaN,NaN,NaN

In [ ]:
# เเทนค่า NaN ด้วย 0
ov_merge['จำนวนที่พบโรค ระดับ 1'] = ov_merge['จำนวนที่พบโรค ระดับ 1'].fillna(0) 
ov_merge['จำนวนที่พบโรค ระดับ 2'] = ov_merge['จำนวนที่พบโรค ระดับ 2'].fillna(0) 
ov_merge['จำนวนที่พบโรค ระดับ 3'] = ov_merge['จำนวนที่พบโรค ระดับ 3'].fillna(0) 
ov_merge['จำนวนที่พบโรค ระดับ 4'] = ov_merge['จำนวนที่พบโรค ระดับ 4'].fillna(0)

In [ ]:
ov_merge.isnull().any()
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

province                 False
จำนวนที่พบโรค ระดับ 0    False
จำนวนที่พบโรค ระดับ 1    False
จำนวนที่พบโรค ระดับ 2    False
จำนวนที่พบโรค ระดับ 3    False
จำนวนที่พบโรค ระดับ 4    False
dtype: bool

# Dashboard 1

รวมตารางระหว่างจำนวนการตรวจในแต่ละพื้นที่ กับ จำนวนที่พบโรค

In [ ]:
data1 = P_noindex.merge(ov_merge,how='left',left_on='province',right_on='province') 
data1

,province,จำนวนการตรวจในแต่ละพื้นที่,จำนวนที่พบโรค ระดับ 0,จำนวนที่พบโรค ระดับ 1,จำนวนที่พบโรค ระดับ 2,จำนวนที่พบโรค ระดับ 3,จำนวนที่พบโรค ระดับ 4
0,กาฬสินธุ์,8,4,3.0,1.0,0.0,0.0
1,นครพนม,16,1,3.0,2.0,7.0,3.0
2,ร้อยเอ็ด,47,27,9.0,5.0,2.0,4.0
3,อุตรดิตถ์,1,1,0.0,0.0,0.0,0.0

In [ ]:
# เเทนค่า NaN ด้วย 0
data1['จำนวนที่พบโรค ระดับ 0'] = data1['จำนวนที่พบโรค ระดับ 0'].fillna(0) 
data1['จำนวนที่พบโรค ระดับ 1'] = data1['จำนวนที่พบโรค ระดับ 1'].fillna(0) 
data1['จำนวนที่พบโรค ระดับ 2'] = data1['จำนวนที่พบโรค ระดับ 2'].fillna(0) 
data1['จำนวนที่พบโรค ระดับ 3'] = data1['จำนวนที่พบโรค ระดับ 3'].fillna(0) 
data1['จำนวนที่พบโรค ระดับ 4'] = data1['จำนวนที่พบโรค ระดับ 4'].fillna(0)

In [ ]:
data1.isnull().any()
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

province                      False
จำนวนการตรวจในแต่ละพื้นที่    False
จำนวนที่พบโรค ระดับ 0         False
จำนวนที่พบโรค ระดับ 1         False
จำนวนที่พบโรค ระดับ 2         False
จำนวนที่พบโรค ระดับ 3         False
จำนวนที่พบโรค ระดับ 4         False
dtype: bool

In [ ]:
data1 # แสดงข้อมูลหลังเเทน NaN ด้วย 0

,province,จำนวนการตรวจในแต่ละพื้นที่,จำนวนที่พบโรค ระดับ 0,จำนวนที่พบโรค ระดับ 1,จำนวนที่พบโรค ระดับ 2,จำนวนที่พบโรค ระดับ 3,จำนวนที่พบโรค ระดับ 4
0,กาฬสินธุ์,8,4,3.0,1.0,0.0,0.0
1,นครพนม,16,1,3.0,2.0,7.0,3.0
2,ร้อยเอ็ด,47,27,9.0,5.0,2.0,4.0
3,อุตรดิตถ์,1,1,0.0,0.0,0.0,0.0

In [ ]:
data1.to_csv(os.path.join(path,'data1.csv')) # save เข้า drive เพื่อนำไปทำ dashboard

# Dashboard 2 

ข้อมูลที่เหลือ 

* ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)
* อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ))

In [ ]:
merged_use = merged_drop[['user','date','phone','site','time','urine','ov','PartitionKey','hcode','name','province']] 
merged_use

,user,date,phone,site,time,urine,ov,PartitionKey,hcode,name,province
37792,26462,2022-03-21,"iPhone13,4",11069,10-08-34,ปกติ (เหลืองใส),4,10961,11069.0,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด
37793,26462,2022-03-22,OPPO CPH1819,11069,10-06-17,ขุ่น,1,10962,11069.0,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด
37794,26462,2022-03-22,OPPO CPH1819,11069,09-33-02,ใส่เป็นน้ำเปล่า,0,10963,11069.0,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด
37795,26462,2022-03-22,Vivo V2050,11069,09-31-42,ปกติ (เหลืองใส),0,10964,11069.0,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด
37796,26462,2022-03-22,Vivo V2050,11069,09-49-16,ปกติ (เหลืองใส),3,10965,11069.0,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด
...,...,...,...,...,...,...,...,...,...,...,...
37945,68768,2022-03-24,"iPhone11,8",11088,10-31-17,ปกติ (เหลืองใส),1,88432,11088.0,โรงพยาบาลห้วยผึ้ง,กาฬสินธุ์
37946,68768,2022-03-24,"iPhone11,8",11088,10-30-22,ปกติ (เหลืองใส),2,89170,11088.0,โรงพยาบาลห้วยผึ้ง,กาฬสินธุ์
37947,68768,2022-03-24,"iPhone11,8",11088,10-29-37,ปกติ (เหลืองใส),0,90470,11088.0,โรงพยาบาลห้วยผึ้ง,กาฬสินธุ์
37948,68768,2022-03-24,"iPhone11,8",11088,10-24-40,ปกติ (เหลืองใส),1,91123,11088.0,โรงพยาบาลห้วยผึ้ง,กาฬสินธุ์
37952,68768,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088.0,โรงพยาบาลห้วยผึ้ง,กาฬสินธุ์

In [ ]:
merged_use.to_csv(os.path.join(path,'merged_use.csv')) # save เข้า drive เพื่อนำไปทำ dashboard

ลิงค์ Dashboard

Link: https://datastudio.google.com/reporting/a76882b0-d2de-409a-a7b9-b9d4b4a6061a